[2014-08-26 17:21] stevepeak opened #1 "Travis cli error"
[code]

[2014-08-26 22:44] #1 closed, assigned to nobody

[2014-09-17 22:01] stevepeak opened #4 "Min coverage"
Exit with a status `1`(fail) when `min-coverage` is not met via `codecov --min-coverage=72`

[2014-09-17 22:57] #4 closed, assigned to nobody

[2015-01-08 22:07] Robpol86 opened #17 "Push 1.1.4 to PyPI"
When you get a chance please make a new release with the latest code changes.

https://pypi.python.org/pypi/codecov

[2015-01-09 13:03] stevepeak commented on #17
Uploaded. Thanks!

[2015-01-09 13:03] #17 closed

[2015-02-27 09:59] saaj opened #19 "Wrong mercurial commit regex on drone.io"
Here's response:
[code]

[2015-02-27 10:45] stevepeak commented on #19
I have not looked into mercurial repos. Perhaps as far as codecov is concerned the only difference from git would be the commit sha. Is this correct? I can fix this up very soon. Thanks making notice of this

[2015-02-27 10:58] saaj commented on #19
In mercurial default changeset identifier looks like '4083:e8ca1b43e114'. drone.io probably provides normal mercurial changeset identifier in DRONE_COMMIT. If the endpoint expects full hash, the format can be [customized](http://hgbook.red-bean.com/read/customizing-the-output-of-mercurial.html).

[2015-02-27 11:26] stevepeak commented on #19
I'll update our validation schema to allow more characters in the commit sha. How does this change look?

[code]

[2015-02-27 11:40] saaj commented on #19
Is this Mercurial-specific changeset regex? Why 5 and 20? Okay, 20 means 7 chars left to numeric revision, which is less than 10 million, which is fine. But what is 5? Also this doesn't enforce beginning and end of the match.

[2015-02-27 12:06] stevepeak commented on #19
I'm attempting to make a charset for both git and mercurial. Git is easy `\w{40}` what about mercurial? Does my idea work above? (sorry it not 20, its 40, typo)

[2015-02-27 12:16] saaj commented on #19
How about `^\d+:\w{12}|\w{40}$`?

[2015-02-27 12:18] stevepeak commented on #19
Great, does this satisfy the customization that may occur?

[2015-02-27 12:24] saaj commented on #19
It matches Mercurial short changeset id and full hex SHA-1. Double check at http://regex101.com/

[2015-02-28 01:51] stevepeak commented on #19
Thanks! I'll make these changes now

[2015-02-28 01:51] #19 closed

[2015-03-02 11:49] saaj commented on #19
Now the client's output seems correct:
[code]
But the website still shows "No reports submitted".

[2015-03-03 05:13] stevepeak commented on #19
Can you submit another report for me. I did not properly update our production database to allow this commit sha. Thank you!

[2015-03-03 09:33] saaj opened #20 "False positive report upload"
The client outputs:
[code]
But it doesn't appear on the website. Originated from #19.

[2015-03-03 12:37] stevepeak commented on #20
Could you submit a new report, I believe I've fixed this. Thanks @saaj

[2015-03-03 12:59] saaj commented on #20
I thought you asked me to submit a separate bug report for a bookkeeping concern in #19, not to submit a coverage report ;-) I have just run the build, and the coverage report has reached the website. Thanks.

[2015-03-03 12:59] #20 closed

[2015-03-03 14:14] stevepeak commented on #20
No problem :) thanks and let me know if there is anything else I can help with.

[2015-04-14 21:39] chillpop opened #22 "Travis Mac InsecurePlatformWarning"
I'm using the script to upload coverage reports from Travis on their Mac VM images for iOS development.  Recently, I started seeing the following warning message:
[code]
I'm not specifying what version of python to use in the `.travis.yml` file.
Is this something to be fixed on your end?  Or is it a Travis configuration issue?

[2015-04-15 12:02] stevepeak commented on #22
Looks like it is an issue with the `requests` package. In your case, were the reports not uploaded? I'll look into solutions for `python < 2.7.9` which is affected by this issue.

Thanks for reporting!

[2015-04-15 12:18] chillpop commented on #22
The reports **do** upload successfully.

[2015-04-15 21:42] stevepeak commented on #22
Thats good news :) I'll checkout if I can fix the issue, but meanwhile I'm happy its working.

I'll be creating a `shell` script that does the same uploading behavior so customers do not need to `sudo pip...` Thanks!

[2015-04-22 17:50] stevepeak commented on #22
@chillpop the Bash Global Uploader is complete at https://github.com/codecov/codecov-bash it will soon become the featured uploader for Codecov. Thanks!

[code]

[2015-04-22 17:50] #22 closed

[2015-05-03 13:29] ionelmc opened #23 "--help wants a repo in cwd"
That option shouldn't require any repository to be setup.
Eg:
[code]

[2015-05-03 14:51] stevepeak commented on #23
Thanks for pointing this out. I'll fix this in my next release.

[2015-05-15 18:23] #23 closed

[2015-05-16 16:09] tomprince opened #25 "Support loading token from a file."
Some CI systems ([buildbot](https://buildbot.net/) for example) default to showing the environment and command-line of all commands run. Thus, it would be useful if there was an option to pass a file-name with the token in it, rather than an argument or environment variable.

[2015-05-16 16:29] stevepeak commented on #25
@tomprince thanks for sharing this: I'll add buildbot integration directly into the uploader soon. Thanks!

[2015-05-27 18:59] joaopimentel opened #26 "Codecov prints exception traceback when no token is supplied, even though exit status is 0"
Calling codecov without a token results in traceback and error messages.
Returning with 0 is OK, since I may not want a build to fail if I do not intend to send the report to codecov. However, in that case, I'd prefer not to have such an error be displayed:

[code]
I think a basic "token not provided, report not uploaded" message could be more helpful :wink:

[2015-05-27 21:09] stevepeak commented on #26
The access token issue was due to my Rollbar reporting. Thats fixed and released just now, just forgot to deploy that fix.

Thanks! For posting this issue ;)

[2015-05-27 21:09] #26 closed

[2015-05-31 03:16] Robpol86 opened #27 "AppVeyor still requires token."
I got an email a few weeks ago that said "Integration Using Appveyor CI? You no longer need a repo token for public repos.".

However I'm getting this traceback:
[code]

https://ci.appveyor.com/project/Robpol86/terminaltables/build/1.0.152
https://github.com/Robpol86/terminaltables/tree/1a8e68f10accf7e8097cec9dd52af3befc47b97f

appveyor.yml:
[code]

[2015-06-07 21:33] ionelmc opened #28 "Extended support for C coverage measurements"
The current integration is fairly inconvenient for large-ish projects: https://codecov.io/guide#c

Would be very nice if codecov would be able to run gcov and collect everything automatically, just like [cpp-coveralls](https://github.com/eddyxu/cpp-coveralls/blob/master/cpp_coveralls/coverage.py#L178-L270)

[2015-06-08 15:01] stevepeak commented on #28
@ionelmc thank you for the feedback.

If I could ask you to try the following during your CI build it would be great:
- simply remove the part about `gcov :file`
- run the command below to upload to codecov

[code]

Here is my commit for this issue: https://github.com/codecov/codecov-bash/commit/54846063ba4e42df44b1d2ffc84cc90932df8bd5

Thanks!

[2015-06-08 15:53] ionelmc commented on #28
@stevepeak Doesn't seem to match very well my sourcecode: https://codecov.io/github/ionelmc/python-lazy-object-proxy

Would you implement something like cpp-coveralls in codecov-python?

[2015-06-08 16:03] ionelmc commented on #28
@stevepeak Or, would you accept such a change?

[2015-06-08 16:18] stevepeak commented on #28
I would implement it in the Bash uploader. It does not require `sudo` which is a benefit for many customers. I can add it to the Python uploader as well. (The bash works for python as well). Did you try to new upload method rom above? Can you send me the CI build that it ran on.

The files seem to line up. Just that first one is extra. Which you can remove in our UI under **Features -> Ignore**

[2015-06-08 16:20] ionelmc commented on #28
I just ran `bash <(curl -s https://raw.githubusercontent.com/codecov/codecov-bash/wip/codecov) -t d5e1ecf0-2ead-4233-81eb-cb336a9ef083` locally (use the same thing to run tests locally and on CI - `tox`)

[2015-06-08 16:22] ionelmc commented on #28
@stevepeak the first file is matched to the wrong path. It should be matched to src/lazy_object_proxy/_proxy.c

I don't know what cpp-coveralls does but it works :grin:

[2015-06-08 17:20] stevepeak commented on #28
That is odd indeed. We have an internal function that will do its best at determining file paths. But in this case it has seemed to fail.

Could you fun this command and share the output with me:
[code]

I can review why the path does not line up to patch our services. Otherwise, I believe this package is working as expected and can be used for your project. Thank you!

[2015-06-09 12:00] ionelmc commented on #28
Here's the output: http://paste.ubuntu.com/11670448/

It's beyond my control what happens with the build dir and how the .so files are moved around :disappointed:

[2015-06-09 12:14] ionelmc commented on #28
I've used `cpp-coveralls --build-root=. --include=src` to fix this issue with relocation. Could you implement some options like those? (the code in cpp-coveralls is there for the taking :grin:)

Also, I'm a bit confused - what's the difference between this shell script and the codecov python package? Why/when should I use the later?

[2015-06-09 13:27] stevepeak commented on #28
I'll go about adding the support as suggested from cpp-coveralls. I'm going to fork your project to play around with the configuration of the Bash uploader, which for now should be used.

----

TL;DR; For the most part the `bash` and `python` uploaders are the same. Originally the python uploader was used for many projects (just like the bash). The bash was created so that the need for `sudo pip i

[2015-06-09 15:21] ionelmc commented on #28
I think there's some confusion here, on Travis sudo is never required for
`pip install` as everything runs in a virtualenv.

Plus I'm a bit wary of anything implemented in Bash - the language is
riddled with issues and pitfalls.

Thanks,
-- Ionel Cristian Mărieș, http://blog.ionelmc.ro

On Tue, Jun 9, 2015 at 4:27 PM, Steve Peak <notifications@github.com> wrote:

[2015-06-09 18:52] remram44 opened #29 "codecov --help fails out of Git repo"
Running `codecov --help` outside of a Git repo displays a traceback:
[code]
This is because the check `'-h' not in argv and '--help' not in argv` only works if `argv` is set; else it should check sys.argv (this is what argparse does line 276).

I personally recommend something like `if not argv: argv = sys.argv` at the beginning of main() to avoid unnecessary ifs.

[2015-06-10 11:54] jayvdb commented on #27
I also experienced this with Python; maybe the Python library needs updating.  The workaround is to put the token in CODECOV_TOKEN

[2015-06-10 14:48] stevepeak commented on #28
You are correct about sudo not being required, but this is only true when the language is set to python. Otherwise sudo is required for every other language that the Bash uploader is used for. I'm not to concerned about the pitfalls of bash. The uploader is very straight forward and should not have issues doing the job well.

I'll still look into adding support for C in in this project. I don't kn

[2015-06-10 14:51] ionelmc commented on #28
The licenses are the same. Am I missing something? :confused:

[2015-06-10 14:53] ionelmc commented on #28
Also, for envs without virtualenv, there's always `pip install --user` (which doesn't need sudo).

[2015-06-11 14:34] stevepeak commented on #27
Could we try another build. I patched an issue that I found earlier and would like to try this integration again. Thank you for your patience :)

[2015-06-11 14:44] jayvdb commented on #27
No worries. No rush here. Do you need me to do anything?

[2015-06-11 14:47] stevepeak commented on #27
Thanks! Could you push a commit through with no repo token :) Send me the build url to so I can double check it all.

[2015-06-11 15:02] jayvdb commented on #27
Here is a build with no token in the env vars:
https://ci.appveyor.com/project/jayvdb/python-appveyor-demo

If it is successful, I'll redo my PR tomorrow so that the appveyor.yml doesnt check the env var.  I'm hitting the hay for today.

[2015-06-11 15:10] stevepeak commented on #27
The first build looks good: http://codecov.io/github/jayvdb/python-appveyor-demo?ref=99d4f47ab1de6d6d3ab2ea6a8cbbfd4d3d1887ef

I'm happy this is working again. The issue was the report json from AppVeyor sometimes did't include data I was expecting. Fixed that up :+1:

[2015-06-12 13:00] #29 closed

[2015-06-12 13:01] #27 closed

[2015-06-23 00:59] raabf opened #33 "gitlab-ci-multi-runner `codecov` does not find coverage.xml"
I try to get `codecov` working on my gitlab-ci.
As runner/slave is use [gitlab-ci-multi-runner](https://gitlab.com/gitlab-org/gitlab-ci-multi-runner) in `shell` mode, therefore simply using the local shell.

The error message `codecov` prints:

[code]

Do data is uploaded in reality.

You can see the an example build [here](https://ci.gitlab.com/projects/3804/builds/94826)

I also execute `ls -la`

[2015-06-23 12:09] stevepeak commented on #33
This is indeed strange behavior. Could you try out other uploader and send me the results. Thanks!

[code]

[2015-06-23 13:50] raabf commented on #33
He seems to cd into the false directory (codecov seems to assume that the actual dir is the home dir of the user)?

[complete run](https://ci.gitlab.com/projects/3804/builds/95797)

[code]

[2015-06-25 12:31] stevepeak commented on #33
The Bash script will `cd` in to the `$CI_PROJECT_DIR ` [here](https://github.com/codecov/codecov-bash/blob/abe23f698a16e9ff8fd321c294634e4651dd93e1/codecov#L305). Perhaps this is whats causing issues.

Lets try this uploader with fixes.

[code]

Thanks!

[2015-06-25 13:08] raabf commented on #33
Looks good :smile:

[CI page](https://ci.gitlab.com/projects/3804/builds/99425)

[2015-06-25 14:13] stevepeak commented on #33
Great news! I'll be deploying these fixes shortly. Thank you for your help and patience!!

[2015-07-19 15:38] adiroiban commented on #25
Any progress on this? @hawkowl has start working at sending reports from the Twisted project https://codecov.io/github/twisted/twisted ... but it would be nice to have a buildbot step for codecov so that  the token is kept private :)

... but this is not like top secret

[2015-07-19 16:25] stevepeak commented on #25
@adiroiban the build bot integration is pending. Today I've been working with @hawkowl on getting [Twisted up on Codecov](https://codecov.io/gh/twisted/twisted), its looking good.

@sa2ajj how can I help to continue this integration?

[2015-07-23 16:49] sa2ajj commented on #25
@stevepeak sorry for the lack of activity: new job takes a lot of my time.

I've been looking at the code and it's a bit difficult to read.  I hope to get something during this weekend.

[2015-08-09 14:48] stevepeak commented on #25
@sa2ajj this Python uploader (via `wip/1.3.0` branch) can collect all coverage files and can be used as the "primary" uploader for BuildBot. I would like to get this conversation started again and get Codecov integrated: https://github.com/buildbot/buildbot/pull/1671

Cheers!

[2015-08-09 14:54] stevepeak commented on #33
@raabf hey :) Checking back on this issue. Noticed in one of your latest build the Upload token is missing: https://ci.gitlab.com/projects/3804/builds/125606

As for the error above that its related to https://github.com/codecov/support/issues/43. Which will depreciate when `coveragepy v4.0` is released [fixing this issue via this commit](https://bitbucket.org/ned/coveragepy/commits/b286ca8a2938)

[2015-08-09 14:54] #33 closed

[2015-08-10 15:56] sa2ajj commented on #25
The problem I see is exactly the fact that the code tries to collect _all_ files.

In addition, it's not really clear what is the format of the data that needs to be submitted (I gave it next tries and stopped).

[2015-08-10 16:09] stevepeak commented on #25
I understand your concerns. I assure you that this happens for a reason. I've discovered over a dozen different report file name. Not additional work is needed to parse them because our server side does. This ability makes Codecov very lean and quick to integrate.

Codecov accepts **everything** I've seen as far as coverage reports go. I have not seen a new type in months, but if there is a new fo

[2015-08-11 04:45] sa2ajj commented on #25
[nit] it's Buildbot :)

[2015-08-11 04:52] sa2ajj commented on #25
Right.

What I'd like to implement is a [build step](http://docs.buildbot.net/current/manual/cfg-buildsteps.html).  There are two options:

* build slave side, which is wrong as all communications with external services [so far] are implemented as a master side activity
* master side, which is difficult since you expect to be able to _walk_ the directories to find all reports that you support; how

[2015-08-11 09:39] vinta opened #35 "UnicodeEncodeError when uploading reports data"
[code]

[2015-08-11 14:33] stevepeak commented on #35
Hey thank you for reporting this. Can you do me a favor and check our the upcoming changes to see if it fixes this issue?

[code]

If this fails I would like to know what the coverage file is that failed to see if I can parse out these values.

Thanks!

[2015-08-11 14:39] stevepeak commented on #25
Since the issue is walking through all directories why don't I add an argument to disable this. When used in conjunction with targeting specific files for uploading. Lets take this example:

[code]

Thoughts?

[2015-08-11 14:45] adiroiban commented on #25
Just some feedback... in case it help.

Rather than using a single builder / single step to generate all coverage reports, I have multiple builders.

Each builder will generate a single report. Some builders will generate the JS unit reports on Chrome, others on IE ... other Python for Windows or Python 2.7 for Linux.

The reports are later aggregated using a 3rd party process.. but I see that cod

[2015-08-11 14:47] stevepeak commented on #25
@adiroiban thank you :)

fwiw in addition to what @adiroiban is saying: you can call `codecov` multiple times with different files. Our backend automatically unifies the reports, no extra setup necessary.

[2015-08-11 17:46] vinta commented on #35
It still fails, I has emailed you the coverage file.

[2015-08-11 20:12] ionelmc opened #36 "`coverage xml` failures are not detailed"
I got a failure here https://travis-ci.org/ionelmc/pytest-benchmark/jobs/75152592#L284 like this:

[code]

I would be nice to get the complete output of `coverage xml`.

[2015-08-11 21:49] stevepeak commented on #35
Thank you for the email. Seems this file is not an actual coverage report and should be ignored. I'll be releases our v1.3.0 soon which fixes this issue via 73b5a2e

[2015-08-11 21:53] stevepeak commented on #36
I believe this next update will suffice: #34 via https://github.com/codecov/codecov-python/blob/73b5a2efdd2ba7af1614115eccdce179a0333f5b/codecov/__init__.py#L178-L182

Thoughts?

[2015-08-11 21:54] ionelmc commented on #36
That should do the trick. Thanks.

[2015-08-11 21:54] #36 closed

[2015-08-12 20:27] sa2ajj commented on #25
@stevepeak if you'd implement those options in `codecov-python` that'd help a lot.

[2015-08-12 21:04] stevepeak commented on #25
They are programmed and ready to be released within a week :)

[2015-08-15 19:40] #25 closed

[2015-08-20 18:03] gmathieu opened #37 "pip and 1.3.0"
Is 1.3.0 (the version in master) ready to be published to pip?

[2015-08-20 21:11] stevepeak commented on #37
Its almost there :) I was just about to review it now. Thanks!

[2015-08-20 21:22] gmathieu commented on #37
Awesome thank you!

[2015-08-20 21:22] #37 closed

[2015-08-21 18:23] stevepeak commented on #25
Hey @sa2ajj the new package is live. Let me know how I can help out more with this integration. :+1:

[2015-09-03 20:40] stevepeak commented on #28
Hey @ionelmc would you like to try #39 for your gcov builds. Do you have a repositories I can test against? Thanks!

ps: Now using `--user` for our python installer, works great! Thank you!

[2015-09-04 06:06] ionelmc commented on #28
Sure, gonna try it on lazy-object-proxy (it has a C ext).

[2015-09-04 06:07] ionelmc commented on #28
If you really want to do it yourself :grin: : https://github.com/ionelmc/python-lazy-object-proxy/blob/master/tox.ini#L86-L93

[2015-09-14 16:18] stevepeak opened #42 "Detect report timestamps before uploading"
A customer experienced an issue when the uploaded report had expires (being that it was > 12 hours old). The uploader should (1) recognize these files, (2) make note of them not being uploaded, (3) proceed to call `coverage xml` if necessary.

[2015-11-13 23:39] gappleto97 opened #46 "Failing on python 3.2 on Travis-CI"
[code]

[2015-11-14 01:10] stevepeak commented on #46
This error looks like it comes from the `coveragepy` package. Are you able to install this package in your environment?

Lets try: `pip install coverage==3.7.1 codecov` (I recall hearing issues with 3.2 and coverage v4)

[2015-11-14 02:14] gappleto97 commented on #46
This definitely fixes things. I added a flag to my `.travis.yml` script to only install 3.7.1 on python 3.2.*. I've also made sure that all of my coverage checks are done with allowed failure. Thanks for the help.

[2015-11-14 02:14] #46 closed

[2015-11-14 06:56] gappleto97 opened #47 "Not showing lines covered when used by multiprocessing.Process"
This results in large portions of code showing up as uncovered, despite being covered.

[Example](https://codecov.io/github/gappleto97/Senior-Project/common/peers.py?ref=24db3f7116e0c8c0373a40cb14b74f27f630d156#line-115)

[2015-11-14 15:00] stevepeak commented on #47
This issue is likely due to `coveragepy` project. Are you able to run coverage locally and get the correct expected results? Codecov only processes the reports and is not responsible to gathering the coverage data. Thank you!

[2015-11-14 21:47] #47 closed

[2015-11-20 10:53] slafs commented on #42
Hello. Would like to ask if there's any progress on this?

[2015-11-24 13:43] stevepeak commented on #42
I'll see to adding it in my next hack, there are a couple different ways the timestamp is presented in different reports. Adding this is important for sure ;)

[2015-12-16 00:39] zbeekman commented on #42
Just FYI, currently the time shown on the website next to the commit hash (age of commit/coverage) is off by a number of hours. It may not be related to this issue, and I suspect it is due to git/travis/etc reporting time in UTC and some other system reporting time in the current TZ... or something like that... just a hunch because my TZ is about 5 or 6 hours off of UTC depending on daylight savin

[2015-12-19 17:24] alex opened #50 "Why does codecov use verify=False when upoading to S3?"
This allows an attacker to see the results or manipulate them.

cc: @reaperhulk, @dstufft

[2015-12-20 13:18] stevepeak commented on #50
Hey @alex there was an issue that kept repeating on Travis where the upload failed due to the generic SSL exception. I don't have specific examples however. I'm not sure if it was a service outage or something else, but adding verify=False fixed the issue.

I've been planning on doing the following:
[code]

[2015-12-21 13:41] stevepeak commented on #50
Deployed

[2015-12-21 13:41] #50 closed

[2016-01-04 12:19] nijel opened #52 "Add support for llvm-cov"
It would be great if coverage would work for llvm as well out of the box. It provides quite similar interface to gcov, it just has to be executed as llvm-cov gcov, see http://llvm.org/docs/CommandGuide/llvm-cov.html

[2016-01-06 19:29] bforchhammer opened #53 "Support for Buildkite"
Hey,

I'd love to see support for buildkite. They expose all the necessary env variables as far as I can see, so integration should be relatively straight-forward: https://buildkite.com/docs/guides/environment-variables

Some things I can set by passing them as arguments to the command, but things like the "pr" parameter are not exposed at the moment, as far as I can see :-)

Thanks!

[2016-01-07 19:09] stevepeak commented on #53
Hey @bforchhammer thanks for submitting this issue. We do support Buildkite in our [bash uploader](https://github.com/codecov/codecov-bash). I'll add it into the Python one as well. Thanks!

[2016-01-07 19:19] stevepeak commented on #52
@nijel would love to. Do you have any open source projects showing off how llvm is used so I can review its process. Thanks!

[2016-01-08 07:38] nijel commented on #52
I use it to build some projects on Travis CI, but meanwhile I've realized that the LLVM version there is quite old and the llvm-cov is probably not flexible enough to do what is needed.

But with recent version, all what should be needed is to run ``llvm-cov gcov`` instead of ``gcov``. It seems to support all needed options...

[2016-01-08 08:27] bforchhammer commented on #53
Thanks for your reply. The bash uploader is working very well for us.

Is there any reason for preferring the python version instead of the bash uploader? I only started with this one because it seemed to be the recommended way of setting if up after setting up a new project on codecov, but the bash uploader seems to do the job just as well and does not require installing an extra dependency.

[2016-01-28 13:35] fckw opened #54 "project path is wrong if building with gitlab ci runner"
Hi,

the path used for searching the report data is incorrect if building the project with a gitlab ci runner.

gitlab-ci-multi-runner provides a absolute path for the project directory. It was introduced by [this commit ](https://gitlab.com/gitlab-org/gitlab-ci-multi-runner/commit/0e50a4334aa0bb162e3e0c845401a369ae9841b0) and included in v0.7.

So it would be nice if you could revert the change i

[2016-01-28 18:05] pvorb commented on #54
I can confirm this behavior. This is what happens on GitLab CI Multi Runner when I run `codecov`:

[code]

In this case, the following environment variables are set:

[code]

[2016-02-05 01:52] stevepeak commented on #52
@nijel perhaps other customers are having related issues, even though I have not heard of any to my knowledge. Do you have any suggestions on how to "automatically" detect when we should use `llvm-cov gcov` instead of `gcov`?

https://github.com/codecov/codecov-bash/blob/346e91cb2918fd1d84fde46c0814ae2005fee363/codecov#L484

[2016-02-05 02:07] stevepeak commented on #53
@bforchhammer The bash and python uploader are essentially the same, however the xcode requires the Bash uploader (currently).

To be honest the preference between the two is mealy personal. We typically push the Bash uploader because of its simplicity. All three global uploading utils (bash, python, node) will continue to get the most attention and will always remain up-to-date.

[2016-02-05 09:08] bforchhammer commented on #53
Cool, thanks!

Maybe the "Setup Guides" section when you set up a new repository on codecov.io coiuld be updated to point to all upload variants; for python projects it currently only points me to the python uploader, the bash uploader isn't mentioned.

[2016-02-08 09:20] nijel commented on #52
The only idea is to base this on CC environment variable. That should work quite reliable for Travis CI, but not sure about other environments...

[2016-02-10 08:40] bbalet opened #56 "'ascii' codec can't encode characters in position..."
I get an error while trying to use the uploader for a Go project:
https://github.com/bbalet/stopwords

    'ascii' codec can't encode characters in position 13398-13493: ordinal not in range(128)

Apparently, this is a known issue with Python, see:

- http://stackoverflow.com/questions/9942594/unicodeencodeerror-ascii-codec-cant-encode-character-u-xa0-in-position-20
- http://stackoverflow.com/ques

[2016-02-12 14:36] fckw commented on #56
Commit [4525409ddc5a...](https://github.com/codecov/codecov-python/commit/4525409ddc5a3f0194848a795262e6785acbaa37) should fix the problem (partially).

Additionally I had to perform a string cast of "reports" in codecov/__init__.py:621 and codecov/__init__.py:665.

The report upload seems to work now. Nevertheless, the coverage is not displayed in the gitlab enterprise web app and the following e

[2016-02-13 19:42] #54 closed

[2016-02-13 19:42] #56 closed

[2016-02-13 19:43] stevepeak commented on #56
Deploying shortly via `v1.6.5`. Thank you!

[2016-02-13 19:43] stevepeak commented on #56
@fckw your error will be resolved via `v.1.6.5

[2016-02-23 18:24] stevepeak commented on #52
@nijel I'm not familiar with the working of llvm-cov, but would invite a pull request to review your suggestions on how to implement this. Thanks!

[2016-03-04 11:49] nijel commented on #52
I will look into this once Travis has upgraded LLVM to more recent version which behaves better in regards to coverage.

[2016-04-30 18:35] adiroiban opened #59 "Coverage should not be uploaded if coverage.xml can not be generated"
I have a project in which coverage is not in the PATH

it would be nice if codecov would fail with a nice message instructing that coverage.xml could not be generated and that I should either add coverage to PATH, or generate the file or specify another XML file.

[code]

[2016-05-07 12:42] cezarykluczynski opened #60 "Allow multiple paths to be passed to -f"
From what I undestand, as of now, only a single path can be passed as argument when using codecov -f parameter.

Could multiple files be passed as well, or could this feature be added?

[2016-05-07 13:12] stevepeak commented on #60
You can pass multiple files via:

[code]

Thank you 👍

[2016-05-07 13:12] #60 closed

[2016-05-11 17:57] frewsxcv opened #62 "Changes not documented since 1.6.4."
https://github.com/codecov/codecov-python/blob/master/CHANGELOG.md

Considering there was a bump to 2.0.0, which might include a breaking change, it would be nice to know what changed.

[2016-05-11 18:00] stevepeak commented on #62
OH yes! Thank you for mentioning this. I'll make notes about the changes. Thank you!

[2016-05-11 18:06] #62 closed

[2016-05-13 00:41] Eric89GXL opened #63 "Codecov on Python2.6"
I get this error on 2.6:
[code]
I think this can be fixed hopefully with a change to `install_requires`, assuming the rest of the code is Python2.6 compatible. I'm happy to do a PR.

[2016-05-26 02:45] otac0n opened #65 "Codecov.io returns 400 for AppVeyor builds with spaces."
It seems that spaces need to be encoded as `%20` instead of `+`.

[2016-05-26 14:07] otac0n commented on #65
Here's an example build if it helps verify the issue:

https://ci.appveyor.com/project/otac0n/pegasus/build/3.2.0-unstable.130%20(Build%2022)

[2016-05-27 11:29] #65 closed

[2016-05-27 11:29] stevepeak commented on #65
Hey @otac0n thanks for pointing this out. I can confirm it it an issue with the spaces. We use the `&job` argument to verify the build with AppVeyor API's.
Thank you!

[2016-05-27 13:05] #63 closed

[2016-06-01 13:27] ctb opened #67 "How does one use --gcov-args?"
Hi all, trying to pass a parameter to gcov with '--gcov-args'.

As far as I can tell, the args.gcov_args is transmitted verbatim to gcov in the find command
(https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L567), but argparse won't take any arguments that start with a '-'. I don't find any tests that demonstrate the right way to use it, either. Tips?
thx!

[2016-06-01 14:17] stevepeak commented on #67
Can you try this technique, using quotes:

[code]

Thanks!

[2016-06-01 14:21] ctb commented on #67
thanks, works perfectly.  Don't know why I didn't think of that... :)

[2016-06-01 14:22] #67 closed

[2016-06-29 16:24] adiroiban opened #68 "Agnostic support for CI systems"
This is a follow up for https://github.com/buildbot/buildbot/pull/1671

I see the code from https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L260-L430 is trying to hunt each CI system and extract the required information .

I don't see any generic lookup for those environment variables ... other than the token.

Those variables should also be VCS agnostic ... but for now t

[2016-07-10 15:51] stevepeak commented on #68
Hey! I'll be adding these patterns below if no CI provider is found
[code]

[2016-07-10 16:03] adiroiban commented on #68
I think that instead of

[code]

we should have

[code]

as these variables are related to the CI system and not  with the VCS

[2016-07-10 17:07] stevepeak commented on #68
Good point :) I agree with that 👍 I'll adjust accordingly

[2016-07-11 22:19] kavdev opened #69 "Pull Requests with a '#' in the name cause the coverage report upload to fail"
example: ``feature/#123_new_feature``. Using CircleCI

[2016-07-12 12:04] stevepeak commented on #69
Hey @kavdev thank you for sharing! Can you grab the output from the codecov step in your Circle build. I'm curious at what point it failed. Thank you

[2016-07-13 06:39] kavdev commented on #69
@stevepeak: I'd love to, but it seems deleting the branch on github removes the build history for that branch on circleci. If you know how to pull it up, I'd be happy to go find the logs.

It failed while uploading to codecov; I believe the branch parameter came before the commit parameter and the '#' wiped out the rest of the query string. Pretty sure it was a 400 error complaining about the lack

[2016-07-13 06:40] kavdev commented on #69
(Feel free to close when ready)

[2016-07-13 10:47] stevepeak commented on #69
@kavdev are you using the python or bash uploader? I found the issue in the bash but not python uploader. Thanks!

[2016-07-13 15:46] kavdev commented on #69
@stevepeak: The bash uploader: ``bash <(curl -s https://codecov.io/bash) -t ****``

[2016-07-13 15:51] stevepeak commented on #69
@kavdev fixed ;) thank you!

[2016-07-13 15:51] #69 closed

[2016-07-13 16:14] kavdev commented on #69
@stevepeak: I just realized I posted this in the wrong repo. Apologies, but thank you for fixing it.

[2016-07-27 06:07] halkeye opened #70 "How to prevent the need for token for public projects (jenkins)"
Reading over https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py it looks like to me the only reason you need to provide --token= for jenkins and not travis, is because job is set for travis?

Why isn't job set to something (BUILD_NUMBER, or timestamp) for jenkins?

That way token wouldn't be required for public projects.

[2016-07-27 12:47] stevepeak commented on #70
@halkeye it is more than just the job number. We tap TravisCI API to validate build params to ensure the upload is authentic.

If the CI provider has an API endpoint we can not require the token, but until then we must include the token for authentication.

[2016-07-27 12:53] jayvdb opened #71 "failed to exec coverage"
On Windows, if the Python "Scripts" directory is not in the `PATH`, and codecov is invoked like `C:\...\Scripts\codecov`, `try_to_run` will fail to exec coverage.  The same could happen on Unix, but it is less likely.

This can be avoided a few ways, e.g. by calling coverage as a Python package, adding the "Scripts" directory to the PATH for the exec, using `sys.executable -m coverage` on Python 2

[2016-07-27 13:08] jayvdb opened #72 "coverage parallel not supported"
When coverage run config `parallel = True`, cmdline option `-p`, `--parallel-mode`, multiple coverage data files are created with machine name, process id and random number appended to the .coverage data file name.

codecov reports "No coverage report found".

[2016-07-27 13:15] halkeye commented on #70
Jenkins has a built in api that you can get access from a run

What data do you need?

On Jul 27, 2016 5:47 AM, "Steve Peak" <notifications@github.com> wrote:

[2016-07-27 13:23] stevepeak commented on #70
Is there documenation this API endpoint? That would be the most help 👍

[2016-07-27 13:28] halkeye commented on #70
Okay I'll see what I can dig up the next time I'm at a computer

I know you can access it through the api link on the bottom of every page

Would be something like /jenkins/job/$build_name/$build_id/api

On Jul 27, 2016 6:23 AM, "Steve Peak" <notifications@github.com> wrote:

[2016-07-27 13:32] halkeye commented on #70
https://wiki.jenkins-ci.org/display/JENKINS/Remote+access+API

Has some info too

I don't think it's super documented though

It's also not hard to expose more info through a custom plugin if needed

On Jul 27, 2016 6:28 AM, "Gavin" <halkeye@gmail.com> wrote:

[2016-07-27 14:43] stevepeak commented on #72
How does your sequence of test commands look like? There should be no issue with this.

Can you run `coverage combine && coverage xml` after your tests to check if a coverage.xml file is generated. Thanks!

[2016-07-27 14:45] jayvdb commented on #72
Yea, `coverage combine` is a workaround, but it would be nice if `codecov` found them.

[2016-07-27 15:07] stevepeak commented on #72
Will deploy in next release 👍

[2016-07-27 15:07] #72 closed

[2016-07-27 17:43] stevepeak commented on #70
I see posting builds, but not an endpoint for `GET` builds. I would guess it's simply at

[code]

Is there documentation on `GET builds`?

[2016-07-27 17:48] halkeye commented on #70
I'm not super familiar with the rest apis, but I can ping the mailing list
if need be

`curl -X GET $BUILD_URL` would prevent you needing to build the url yourself

HUDSON_COOKIE

HUDSON_SERVER_COOKIE

JENKINS_SERVER_COOKIE

I'm not sure how (yet) but those can be used during the request for
authentication on hitting the urls

https://jenkins.ci.cloudbees.com/job/plugins/job/sauce-ondemand-plugin/

[2016-07-27 18:06] stevepeak commented on #70
Thanks for the details here. So the environment variables you stated would be used to authorize access to the BUILD_URL endpoint? ❤️ Love it!

How would I use the cookie if I'm making this api request server side?

[2016-07-27 22:23] halkeye commented on #70
Oh I'm totally wrong, those cookies are just random strings for identification purposes.

I'm trying to figure out ways to run codecov tool in public without being able to provide token in a secret way.

If that means writing a helper plugin to expose more data I totally will.

[2016-07-28 13:30] stevepeak commented on #70
That would be great! Here are some ideas of the information we would like to verify in order to accept uploads:

1. repository slug being tested `owner/repo`
1. if the Jenkins build is still running
1. commit sha being tested
1. branch being tested

[2016-07-28 13:32] stevepeak commented on #70
Here is an example:

[code]

[2016-07-28 13:37] stevepeak commented on #71
Thanks for expressing this issue @jayvdb.

Would you recommend us trying something like:
[code]

[2016-07-28 13:49] jayvdb opened #73 "python -m codecov fails"
[code]

[2016-07-28 13:56] stevepeak commented on #73
Adding a file called `codecov/__main__.py` would fix this right?

[2016-07-28 13:56] jayvdb commented on #71
On Py2.7+, then yes, if the failure was that `coverage` was not found.
Rather than trying to work out why `coverage xml` failed, on Python 2.7+ the approach should be to check if coverage exists , then invoke `sys.executable`.

[code]

Py2.6 has problems with `-m` , and I am not sure that it can be worked around.

However. if you can import and use coverage within Python, rather than creating a su

[2016-07-28 13:56] jayvdb commented on #73
Yup.

[2016-07-28 14:03] #73 closed

[2016-08-03 17:41] audioplastic opened #74 "See all the environment variables for other CI providers here in README 404s"
The link provided in the text in the README.md leads to a 404 page.

[2016-08-03 18:33] stevepeak commented on #74
Removed that link. I'll update the docs with more details on `--env and --flag` soon. Thanks!

[2016-08-03 18:33] #74 closed

[2016-08-04 00:16] gilmrjc commented on #72
This breaks the reporting of my tests. In my Travis config I combine my data like this

[code]

The problem is when you run ```coverage combine``` twice the coverage data is not longer available. I need to combine my coverage to fail if the threshold fails. It's better to do the ```combine``` in the CI and not in the codecov-bash, because I can add or remove it with my configuration files, or if t

[2016-08-04 00:32] jayvdb commented on #72
@gilmrjc wrote

It seems this is the main problem?  And it is possibly a bug upstream?

I agree that some people need to be able to run `coverage combine` themselves, and the codecov client app should still work in that scenario.

Unrelated, looking at the change 2cff906341, is this portable?

```coverage combine && coverage xml -i```

i.e. does `&&` work on Windows?

[2016-08-04 02:50] gilmrjc commented on #72
This is not a bug in coverage. When you run coverage in parallel mode it creates a coverage file for each environment + set of tests. When you combine them coverage merge the data and deletes the files. Without deleting them coverage can distinct between older tests coverage and the current tests coverage.

When you run combine again coverage doesn't find the specific coverage files because they d

[2016-08-04 03:33] jayvdb commented on #72
The bug/improvement in `coverage combine` would be that when it doesnt find multiple coverage files, but does find a normal coverage file, it doesnt create an empty coverage file.

What is the benefit of `coverage combine` replacing one coverage file with an empty coverage file...?

However, I see at https://bitbucket.org/ned/coveragepy/issues/511/version-42-coverage-combine-empties that this is a

[2016-08-05 16:09] stevepeak commented on #72
@jayvdb that would be great! I do believe there are those whom are still using coveragepy 3.0.7 so relying on v4 is not entirely possible.

[2016-08-05 16:15] stevepeak commented on #72
@jayvdb does this work for the bash uploader: https://github.com/codecov/codecov-bash/commit/08e55732b4b323ca8e9a1c818be421d3d671b3a2

[2016-08-07 08:00] jayvdb commented on #72
It looks good, but I dont have any projects that use codecov-bash to test with easily.

[2016-08-07 08:05] gilmrjc commented on #72
@stevepeak the bash version works. The project I have using codecov bash now sends the reports even if I run combine before :)

[2016-08-07 16:07] jayvdb commented on #72
This has been fixed, but not yet released.
So in the next release, running `coverage combine` will be an error when there are no parallel files yet to be combined.

[2016-08-07 16:30] stevepeak commented on #72
@jayvdb @gilmrjc ^^

Thanks friends 👍 I'll look into publishing the codecov-python uploader today if it lgty

[2016-08-08 20:35] peterjc opened #75 "$CODECOV_ENV documentation URL dead"
From the help text,

[code]

Comes from this line:

[code]

Sadly http://bit.ly/1ElohCu resolves to https://codecov.io/github/pyca/cryptography/src/cryptography?ref=db86de59b02be0793dea5e862090586c31998ad1 which gives an Error 404

Note the codecov-bash help text is different:

[code]

[2016-08-08 21:47] stevepeak commented on #75
Thanks for pointing this out! I've been working on our [new documentation](https://github.com/codecov/support/wiki) and will be adding documentation for this asap.

Meanwhile, the env is expressed in the builds page on Codecov to help identify the source of the coverage reports. This is typically used for language and system versions. We are looking into ways to add these variables to our UI to he

[2016-08-08 22:32] peterjc opened #77 "Empty $TRAVIS_PYTHON_NAME included regardless of --env / -e"
It seems (possibly due to a change on TravisCI), that ``$TRAVIS_PYTHON_NAME`` is currently empty, e.g.

https://codecov.io/gh/ipython/ipython/commit/c17ff28cb1220a91d94fc0dc4b85ccee561fb68f/builds

https://codecov.io/gh/biopython/biopython/commit/2d7619594003460b61fab62260ce50f6a344ba63/builds

Reading the code for ``--env`` aka ``-e``, the current behaviour is to automatically add some additional

[2016-08-08 23:29] stevepeak commented on #77
They don't appear to override the cli options. How are you running codecov that you experienced this?

[2016-08-09 08:51] peterjc commented on #77
Regarding the blank ``$TRAVIS_PYTHON_NAME`` and how I am running codecov under TravisCI:

The Biopython example https://codecov.io/gh/biopython/biopython/commit/2d7619594003460b61fab62260ce50f6a344ba63/builds shows six TravisCI builds, e.g.

[code]

That corresponds to the ``TOXENV=pypycov`` entry in the tox configuration file https://github.com/biopython/biopython/blob/2d7619594003460b61fab62260c

[2016-08-09 09:02] peterjc commented on #77
Regarding:

The command line is parsed here https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L201

[code]

Assigned here https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L238

[code]

At this point ``-e`` or ``-e FOO`` would give ``include_env =set( [])`` or ``include_env = set(['FOO'])``.

Then, on the TravisCI branch this code is called https://g

[2016-08-09 21:50] peterjc commented on #77
OK, the new ``_add_env_if_not_empty`` function makes sense and fixes the main part of this bug.

Separately with the new changes you explicitly *combine* the options given in ``$CODECOV_ENV`` and the command line (``-e`` or ``--env``), which is sensible behaviour although perhaps the help needs to be a little clearer?

Thanks

[2016-08-09 21:50] #77 closed

[2016-08-09 21:52] peterjc commented on #75
With the recent changes you explicitly *combine* the options given in ``$CODECOV_ENV`` and the command line (``-e`` or ``--env``), which is sensible behaviour.

The help string still needs updating though.

[2016-08-09 21:54] #75 closed

[2016-08-09 21:54] stevepeak commented on #75
Done 👍 I'll be adding more docs to this and examples asap

[2016-09-25 20:32] joaoasrosa opened #80 "Build fail in AppVeyor"
Using the instructions for .NET and Python I've the following error running codecov -f "file":
codecov : File not found - '*.gcno'

For more information: https://ci.appveyor.com/project/joaoasrosa/unittestsexternalsources/build/1.0.51

[2016-12-06 19:50] wbond opened #83 "-e Flag Doesn't Accept Multiple Var Names"
https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L246-L249

It should split on `,` like it does at:

https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L251-L254

[2016-12-06 20:12] wbond commented on #83
Actually, this appears to be an issue that only version 2.0.5 is on PyPI, even though 2.0.6 is released here.

 - https://pypi.python.org/pypi/codecov
 - https://github.com/codecov/codecov-python/releases

[2017-01-06 01:40] JordonPhillips opened #85 "Cannot upload test results that contain characters outside of latin-1"
For the past several months (at least 3) codecov has failed to work when test results contain unicode characters. Codecov outputs the following:

[code]

I'm unsure why this suddenly stopped working, but it does appear to coincide with the [requests upgrade](https://github.com/codecov/codecov-python/commit/7386c3c13fc71f237611c780646fa1b44a07dc64#diff-2eeaed663bd0d25b7e608891384b7298). Regardless,

[2017-01-08 16:46] larzw opened #86 "What is the license for this code?"
@stevepeak what is the license for this code?

Thanks!

[2017-01-09 01:01] #86 closed

[2017-01-09 14:28] #83 closed

[2017-01-09 14:28] stevepeak commented on #83
Hey @wbond thank you for pointing this out. I've added support for `-e VAR1,VAR2`. Previous this was the technique: `-e VAR1 -e VAR2`

[2017-01-09 14:33] stevepeak commented on #85
Hey @JordonPhillips thank you for pointing this out. Would the correct change be

[code]

Thank you!

[code]

[2017-01-09 15:24] wbond commented on #83
Thanks, much appreciated! I think I did eventually figure out the alternate method, it just took a little digging into how argparse worked.

[2017-01-09 16:25] JordonPhillips commented on #85
That should work, though I was unable to get a test environment  properly set up so I can't verify. You can reproduce the error by introducing a test whose name has a unicode character, such as `u'\u2713'` (✓), and running codecov on the output from python 3.

[2017-01-24 12:21] vmuriart opened #88 "Ignore OpenCover sample file on coverage upload"
An example can be seen on this [build log](https://ci.appveyor.com/project/vmuriart/pythonnet/build/2.2.0-build271/job/1o4hvqqs3d2s3vtu#L995).

Easiest way would probably be to add a filter for `OpenCover*\SampleSln\coverage.bat`.

I can write the `pr`, but wanted to check if you agree before I work on it.

[2017-01-24 12:28] vmuriart commented on #80
Move the [call to codecov](https://github.com/joaoasrosa/unittestsexternalsources/blob/8baf61323e9c3b3528a75939d9bcce8947303155/appveyor.yml#L54) to after test.

From:
[code]

To:
[code]

[2017-01-24 14:10] wbond opened #89 "Version 2.0.6 not on PyPI"
Just a reminder that PyPI only has the old version 2.0.5 available: https://pypi.python.org/pypi/codecov

[2017-02-03 05:50] laedit commented on #80
The important part here is the `-X gcov` arg of `codecov` to disable gcov when not needed.

[2017-02-03 05:58] laedit commented on #85
Same here in a .net project with an in-memory assembly starting by `ℛ`.
The bad side is that every reference to this assembly is filtered from the code coverage and shouldn't be send to CodeCov.

[code]

The coverage file [link](https://ci.appveyor.com/api/buildjobs/7v78ym8vkvu5mhqx/artifacts/coverage.xml).

If the fix is already made, is it possible to test it?

[2017-02-16 18:44] vmuriart commented on #88
ended up deciding that specifying the file to upload directly was a better solution in the long-term. In particular, I am applying [flags](https://docs.codecov.io/docs/flags) to each file, so auto-discovery no longer made sense for me.

[2017-02-16 18:44] #88 closed

[2017-02-16 18:56] vmuriart commented on #89
@wbond you probably know this, but for anyone else wanting to use the new features introduced in `v2.0.6` you can use `pip install https://github.com/codecov/codecov-python/tarball/v2.0.6` as a work-around.

In Travis it would look like:
[code]

[2017-03-10 20:55] jayvdb commented on #68
This is solved?

[2017-03-10 20:58] stevepeak commented on #68
Short answer: Yes, in the bash uploader, when on CI provider is discovered.

Taking another look at it and I think we need to always collect these details, by default, regardless or CI detection.

[2017-03-10 21:08] jayvdb commented on #68
It looks like there were commits in the python uploader as well.  Is that work in the python uploader not complete?

[2017-03-10 21:11] jayvdb commented on #89
ping @stevepeak

[2017-03-10 21:15] stevepeak commented on #68
I'll take a look at the python uploader too. Thank you

[2017-03-22 01:10] AraHaan opened #91 "Add support for local .git repositories not yet published to github that are on Windows."
Currently I can ``pip install --upgrade codecov`` on windows.

However I would like to be able to check the coverage of my latest commits locally so I know weather or not I need to add my tests for some test cases before  I put the repository to github. Is there a way to do this? I can do ``"%SystemDrive%\Python360\python.exe" setup.py test`` that runs pytest and passes the one test the local repo

[2017-03-24 16:53] CJ-Wright opened #92 "TST: pytest?"
Is there any interest to moving to pytest?

[2017-03-25 17:34] stevepeak commented on #92
Codecov does support pytest. Are you asking to move the unit tests for this repo to pytest?

[2017-03-25 17:34] #92 closed

[2017-03-25 17:36] stevepeak commented on #91
Codecov requires projects to be on GitHub, GitLab or Bitbucket. Codecov does not store source code and uses service API's to integrate with the project.

In the future we plan to support more local development, but at this time it is not supported.

Thank you!
Steve

[2017-03-25 17:36] #91 closed

[2017-03-25 20:00] CJ-Wright commented on #92
Yes I was asking about moving from unit tests to pytest.

[2017-03-25 20:48] stevepeak commented on #92
I'm ok with that. But it would not be high on my priority list. I welcome a PR though.

[2017-03-31 20:42] rochdev opened #93 "Add support for Jenkins Blue Ocean"
See codecov/codecov-node#55

[2017-04-19 14:27] jakirkham commented on #89
cc @CJ-Wright

[2017-04-19 15:31] CJ-Wright commented on #89
This should be up on conda-forge soon so you might be able to get it from there.

[2017-04-19 15:32] CJ-Wright opened #95 "Include licence file"
Would it be possible to include a licence file (also in the MANIFEST.in)?

[2017-04-24 20:20] #93 closed

[2017-04-25 22:07] althonos opened #96 "Failing on GitLab CI v9+"
Hi !

So GitLab-CI has been updating from v8 to v9 lately, and they transitioned from *builds* to *job* in their whole nomenclature. As such, some job variables have been renamed, causing `codecov` to crash when called in the CI environment. For instance (this example is actually what makes it crash for me) `CI_BUILD_REPO` has been renamed `CI_REPOSITORY_URL`, so I get the following exception when

[2017-04-26 17:06] jayvdb commented on #96
It can be worked around by adding the following to `.gitlab-ci.yml`
[code]

[2017-04-26 17:09] stevepeak commented on #96
Thank you! Will patch today 👍

[2017-04-26 22:02] #96 closed

[2017-04-27 06:09] althonos commented on #96
@stevepeak: please see PR (#97), the fix you made will get you the right stub but neither the SHA of the commit nor the right branch...

[2017-05-13 20:19] CJ-Wright opened #98 "Add conda-forge package to docs"
There is also a conda-forge package for those using conda!
Would it be possible to put this into the docs/readme somewhere?

You can install it with
`conda install -y -c conda-forge codecov`

[2017-05-14 18:00] stevepeak commented on #98
Sure 👍 Would you like to take credit with a PR?

[2017-05-14 18:54] CJ-Wright commented on #98
Sure, I'll try to have it in this week.

[2017-05-23 18:42] #98 closed

[2017-05-28 22:18] cpu82 opened #100 "Codecov broken tests"
Hi,

It seems that there are some test cases that fail to pass.

Tested on FreeBSD by invoking the following command:

`/usr/local/bin/python2.7 -m pytest -v tests/test.py`

http://sprunge.us/hIEC

Is it possible to skip the tests explicitly when invoking the test suite?

[2017-05-29 09:13] cpu82 commented on #100
I noticed that if the `.git` directory is present all test cases  are fine.
[code]

[2017-05-30 13:06] stevepeak commented on #100
We welcome a pull request if you feel inclined to adjust the code base for this use case.
Speaking of which: why is the use case for your teste suite?

[2017-05-30 13:20] cpu82 commented on #100
According to the FreeBSD python port policy [1]: python ports must include a do-test target if the package includes tests.

For now, I have removed the failed tests using a simple patch.

Therefore, it would be great that all test cases work properly.

[1] https://wiki.freebsd.org/Python/PortsPolicy#Tests

[2017-06-02 11:44] stevepeak commented on #100
@naglalakk can you help out here. Thanks

[2017-06-09 21:16] jmanela commented on #85
Is anyone putting up a PR for this?

[2017-06-10 04:53] laedit commented on #85
I haven't checked if the issue was still here, but I plan to switch to [codecov/codecov-exe](https://github.com/codecov/codecov-exe) since I don't always have python on the env I use.

[2017-06-15 08:17] adiroiban opened #102 "Add quiet mode"
codecov run is pretty  verbose (including the big ascii art )

when reading the CI logs, is inconvenient to ignore all the codecov output ... and with lots of logs it increase the size of all the logs store on disk.

It would be nice to have a quiet mode, which will output a single line.

If there are issues, users can temporary enable the current "debug" mode.

Thanks!

[2017-06-15 13:55] stevepeak commented on #102
Sure :) Thank you for the feedback. We welcome pull requests if you feel inclined to contribute.

[2017-06-17 16:50] meetmangukiya opened #103 "codecov doesn't exit with error if upload fails"

[2017-06-17 16:51] meetmangukiya commented on #103
Example : https://semaphoreci.com/coala/corobo/branches/meet-plug-github/builds/1

[code]

[2017-06-22 06:56] zchee commented on #103
@meetmangukiya It seems to codecov-python's bug.
Solution is add `--file /path/to/coveragefile` to `codecov` command. actually, in Go:

[code]

/cc @stevepeak

[2017-06-22 07:26] stevepeak commented on #103
The file path coverage.txt should be detected without any issues. Are you using Docker to test? Maybe the file is inside the container and not passed out of it.

[2017-06-22 07:26] stevepeak commented on #103
We will continue to use `exit 0` by default because if your CI passes it should remain passed regardless of Codecov. Use `-Z` to change this behavior.

[2017-06-22 07:27] #103 closed

[2017-08-28 14:47] ldorau opened #107 "Excluding lines with exclude_lines in .coveragerc does not work for me"
Excluding lines with exclude_lines in '.coveragerc' does not work for me:
There is a part of the '.coveragerc' file attached below:
[code]
These lines are taken into account as not covered by CodeConv for example here:
https://codecov.io/gh/ldorau/pmemfile/src/419f2bdde894a84d62e1c6b4d530c6bf0a1b8665/src/tools/antool/utils.py#L61

Details:

The whole source code is available here:
https://github.c

[2017-08-28 14:49] ldorau commented on #107
@sarahjelinek @marcinslusarz @GBuella

[2017-09-14 01:36] lingthio commented on #107
I'm running into the same issue.

Notice that ``exclude_lines`` is in the ``[report]`` section. I wonder if the .coverage data file contains the missing lines and that:
- our local coverage-reporter uses this data file MINUS any lines that match the ``[report]:exclude_lines`` entries.
- codecov uses only this data file (does not honor ``exclude_lines``).

If so, codecov will need to:
- find the .c

[2017-09-18 16:55] DEKHTIARJonathan opened #109 "Impossible to obtain the badge for a specific branch"
Hello,

I ma using codecov for a Django Project, and I can't manage to find the badge's url for a specific URL, it  doesn't work whatever address I try to use:
- branch: dev
- repository: https://github.com/DEKHTIARJonathan/FeedCrunch.IO/
- codecov link: https://codecov.io/gh/DEKHTIARJonathan/FeedCrunch.IO

Some url tried:
- https://img.shields.io/codecov/c/github/DEKHTIARJonathan/FeedCrunch.IO/de

[2017-09-19 10:15] stevepeak commented on #109
Issue with our cache. The badges for both branches work now. Thank you!

https://codecov.io/gh/DEKHTIARJonathan/FeedCrunch.IO/branch/dev/graphs/badge.svg
https://codecov.io/gh/DEKHTIARJonathan/FeedCrunch.IO/branch/master/graphs/badge.svg

[2017-09-19 10:15] #109 closed

[2017-09-21 12:47] chfast opened #110 "C++ / gcov: Incorrect file paths"
This is about a C++ project.

Previously I was using lcov script to collect and filter coverage data. As the result I had single `coverage.data` file uploaded with `codecov -f` bash script.

Now I switched to codecov-python and I'd like to collect gcov data directly with the script.
The biggest issue is the script is not able to recognize the file location correctly. In the result the same files a

[2017-10-02 22:39] 13steinj opened #111 "Allow selection of the coverage report filename"
coverage.py allows for one to choose the filename (defaulting to .coverage). Because of the regexes, some of the possible variations in filenames are not detected (in a project that I recently worked on, the format `.coverage.anywordhere`) was not detected (coverage.py allows variable substitution from the os environment in its configuration and anywordhere was being substituted as either unit or

[2017-10-04 09:01] stevepeak commented on #110
Found to be repo specific. Contacting customer directly.

[2017-10-04 09:01] #110 closed

[2017-10-04 09:53] stevepeak commented on #111
The file's at `.coverage.foobar` are generated by `coveragepy` and do not container mapped coverage information. The details of these files must be generated into the `coverage.xml` file via `$ coverage xml` command.

[2017-10-04 09:54] #111 closed

[2017-10-08 19:46] hugovk commented on #95
A licence was added in https://github.com/codecov/codecov-python/commit/0fafbb013d14d8ceaae995bc8d069e7af66d627b.

[2017-10-08 20:00] cheako opened #113 "Reports /bin/sh: 1: coverage: not found when using Debian packages."
https://travis-ci.org/cheako/Tor2web-1/builds/285180144#L1782

Debian installs coverage to python-coverage.  A command line option would be a simple solution, but ideally in shell one would do something like...
[code]

[2017-10-11 14:09] webknjaz opened #114 "[BUG] Broken AppVeyor autodetection"
Current vars are:
[code]

But the code checks equality to `True` (as in official docs). I guess they broke this at some point.

Ref: https://github.com/appveyor/ci/issues/1853

[2017-10-11 14:11] webknjaz commented on #114
This causes:
[code]

https://ci.appveyor.com/project/jaraco/cherrypy/build/1.0.330/job/wljtenhosjpuqhjd#L884

[2017-10-11 14:14] webknjaz commented on #114
This should also break bash and other codecov client scripts.

[2017-10-12 19:39] webknjaz commented on #114
It's been broken since the very first use in your repo 2 months ago: https://ci.appveyor.com/project/jaraco/cherrypy/build/1.0.262/job/g86t0a7qh3ype1g4#L438

[2017-10-13 13:28] webknjaz commented on #114
For those looking for the temporary workaround is to use smth like this:

[code]

[2017-10-18 14:11] webknjaz commented on #114
It turned out do be re-defined env var in our CI config.

[2017-10-18 14:11] #114 closed

[2017-10-29 15:47] blueyed opened #221 "CircleCI: inconsistent args for build/job with codecov-python"
https://github.com/codecov/codecov-bash/blob/7e6cfa3935aeb29de57298bda496dad27b24aa37/codecov#L541-L542

vs

https://github.com/codecov/codecov-python/blob/adc22c19f3e924cac15a7ee25edfb3a5b518bf7c/codecov/__init__.py#L345-L346

[code]

[2017-10-30 15:17] SethMichaelLarson opened #119 "Amazon S3 Reduced Redundancy costs more than Standard"
Amazon isn't keeping Reduced Redundancy to be cheaper than Stardand storage. It actually costs more for less data durability. Should codecov be changed to use Standard storage?

[2017-11-01 00:10] moylop260 opened #120 "coveragerc data_file parameter is not working"
Steps to reproduce it:
 - Create a [.coveragerc using the following parameter](https://github.com/OCA/maintainer-quality-tools/blob/2bb8c9b70ee28675f7afcdc731113bf014ca6a30/.coveragerc#L1-L2):
[code]
 - Run [`coverage run` command](https://github.com/OCA/maintainer-quality-tools/blob/2bb8c9b70ee28675f7afcdc731113bf014ca6a30/.travis.yml#L69-L70)
 - Check that the file `.coverage_custom` is created

[2017-11-20 08:17] stevepeak commented on #119
Hey! Thank you for opening this issue.

Can you link me to the pages that suggest it is not less expensive?
I've done some review on my own which suggests you are correct, but I want to make sure.

Thanks!

[2017-11-20 18:48] CJ-Wright commented on #95
Can you please include it in the release?

[2017-12-01 12:47] horenmar opened #123 "AppVeyor public repo needs token for upload"
I spent some time tearing my hair out on this, but using `codecov` installed from `pip`, uploading from AppVeyor [fails](https://ci.appveyor.com/project/CatchOrg/catch2/build/dev-appveyor-coverage%20-%2021aff88020c8552a870ee46681c8fe51eb6f2b06/job/y79hs3cajglwfqed), but if I provide token manually, it [succeeds](https://ci.appveyor.com/project/CatchOrg/catch2/build/job/9667p1i7wqcm7h69).

I am usi

[2017-12-02 13:35] chfast commented on #85
I had the same issue, but this seemed to help: https://github.com/codecov/codecov-python/pull/124.

[2017-12-06 13:31] stevepeak commented on #85
I'll get this deployed asap. Thanks for helping out!

[2017-12-06 13:31] #85 closed

[2017-12-06 14:00] stevepeak commented on #95
Added to repository. Can you suggest how to add it to the release?

[2017-12-06 14:01] stevepeak commented on #89
We are now on v2.0.10. Let's make sure this version (and subsequent versions) are used moving forward. Upcoming v2.1.0 will have gzipping which is important.
Thanks!

[2017-12-06 14:01] #89 closed

[2017-12-06 14:09] stevepeak commented on #123
Sorry about this issue. I see a couple upload attempts. One with the python uploader and another with the bash.

There is an issue using the AppVeyor API. The format of some variables appear to have changed in AppVeyor that I need to review. I believe I have already found the issue and will deploy a patch to check it out.

[2017-12-06 14:16] stevepeak commented on #120
Thank you for reporting. However, coveragepy is responsible for the `.coveragerc` file before Codecov comes into play.

Can you try this to replicate without Codecov

[code]

[2017-12-06 14:17] stevepeak commented on #119
Thanks! Moving this package and others to not use reduced.

[2017-12-06 14:17] #119 closed

[2017-12-06 14:23] stevepeak commented on #100
I'm cleaning up issues. What is the status of this one?

[2017-12-06 14:36] SethMichaelLarson commented on #119
Sorry for not replying earlier! Must have gotten lost in my GitHub notifications. Glad everything worked out :tada:

[2017-12-19 14:53] thautwarm opened #125 "The result of coverage reports doesn't match that of codecov at all."
[The result of command `coverage report`](https://travis-ci.org/thautwarm/Linq.py/jobs/318643137).
[code]

However, I was quite annoyed by [this result](https://codecov.io/gh/thautwarm/Linq.py) and it didn't change at all after a big commit.
The analysis of `codecov` even tells me that I do not run a function after I do have run this function.
For instance, the red area of [this file](https://code

[2017-12-28 02:13] njsmith opened #127 "Revert #118"
The change made in #118 looks good on the surface, but completely changed the meaning of the code and broke it :-). See https://github.com/codecov/codecov-bash/issues/106

Anyone with write access to this repo should be able to do this trivially by clicking the "revert" button in #118's history.

CC: @blueyed @stevepeak

[2018-01-01 13:42] johlju opened #129 "Error when running codecov -f $resolvedResultFile -X gcov"
We have started seeing an error a couple of weeks back when running the following (in AppVeyor using PowerShell script). It seems this is an error that get reported in the Python code for codecov (it is not a native PowerShell error message).
Was hoping for some insight what could be going on.

I more detailed write up can be seen in the issue https://github.com/PowerShell/DscResource.Tests/issues

[2018-01-03 11:10] chfast opened #130 "Upload failure: 'ascii' codec can't decode"
[code]

Example build: https://circleci.com/gh/ethereum/cpp-ethereum/2049.

[2018-01-03 13:34] stevepeak commented on #130
@blueyed this consistently is an issue that I have a hard time resolving. Are you able to shed light on a way to fix this for good?

[2018-01-03 21:55] skirpichev commented on #127
[Here](https://travis-ci.org/diofant/diofant/jobs/324170971) is an example of CI build, where after "fixing merge commit" by codecov utility - coverage stats submitted to completely wrong URI.

[2018-01-04 10:00] stevepeak commented on #130
We believe this line is causing the issue https://github.com/codecov/codecov-python/blob/f6cd01a312df45024766c50851957cb7b6f78c8d/codecov/__init__.py?utf8=%E2%9C%93#L723

TBO I'm not experienced enough to figure out how to resolve encoding issues (I've lost sleep trying to figure them out). @blueyed can you help out here?

[2018-01-05 18:23] blueyed commented on #127
Reverted in https://github.com/codecov/codecov-python/commit/7f53af7b60dfbf0a05e8a885bc5519af4489a615.

[2018-01-05 19:00] blueyed commented on #130
@stevepeak
Please tag `v2.0.11`.

@chfast
Is https://circleci.com/gh/ethereum/cpp-ethereum/2049 using Python 2 or 3?

I guess it is Python 2, which fails when using `encode` on a non-unicode string?
[code]

With Python 3:
[code]

[2018-01-05 19:01] blueyed commented on #130
@chfast
You can use `--dump` to get more information (the actual report).
And you could use codecov-bash always to make it work for now, but we should get this fixed of course.

[2018-01-05 19:09] skirpichev commented on #127
btw, probably this issue could be closed

[2018-01-05 20:17] chfast commented on #130
codecov-bash is much worse.
I use whatever installed, probably python 2.

Of course
[code]
does not work in Python 2. `'ä'` means bytes, to get unicode string out of it you have to decode it `s.decode('utf-8')`. I have no idea what "encode" means in this case.

[2018-01-07 13:51] blueyed commented on #130
@chfast

What do you mean?  Doesn't it work for you?

[2018-01-08 08:47] #127 closed

[2018-01-08 11:04] chfast commented on #130
Hopefully fixed by #133.

codecov-bash is

1. Much slower than codecov-python. Getting gcov data takes minutes instead of seconds.
2. Does not work on Windows.
3. I can fix Python. I don't want fixing bash scripts.

[2018-01-08 11:10] stevepeak commented on #130
@chfast Deployed in v2.0.13

I wonder what's making the bash version gcov scripts slow.

[2018-01-09 16:53] cpu82 commented on #100
Hi,

Today I updated `codecov` to 2.0.13 but it still failing with a couple of AppVeyor CI tests.

As a workaround I skipped both tests at the moment.

[code]

Here is the `make test` output

[code]

[2018-01-16 14:44] chfast commented on #130
@stevepeak I wonder that too...

Fixed in https://github.com/codecov/codecov-python/pull/133.
Released in v2.0.13.

[2018-01-16 14:44] #130 closed

[2018-01-16 18:54] blueyed commented on #130
The gcov execution looks similar, but with codecov-python some files/dirs are excluded: https://github.com/codecov/codecov-python/blob/1d77b8f592a24ea1e6a4ab4c9010b3e2cacdb035/codecov/__init__.py#L602
Here is the bash one: https://github.com/codecov/codecov-bash/blob/5d400d650cdd449aad8e7d3f8949d8aef9303a58/codecov#L936

[2018-01-16 18:55] blueyed commented on #130
Ah, they should be ignored in codecov-bash, too: https://github.com/codecov/codecov-bash/blob/5d400d650cdd449aad8e7d3f8949d8aef9303a58/codecov#L30.

[2018-01-17 12:03] stevepeak commented on #130
These were recent additions. So perhaps the two processing agents are equal in speed and strategy.

[2018-01-17 17:24] johlju commented on #129
See [comment](https://github.com/PowerShell/DscResource.Tests/issues/203#issuecomment-358130148) how this was workaround by commenting out [this row](https://github.com/codecov/codecov-python/commit/d8f9c7bcbf3217be472bd9295934dab4ff31bb7c#diff-ed4cb86e1f4a5c5feeecc37b90ec6a23R557).

I'm not familiar with Python so I don't know how to solve this one, but happy to send in a PR if someone know how t

[2018-01-17 17:40] lesteve opened #135 "Regression in v2.0.13: running "coverage combine" overrides existing .coverage"
After I run `pytest` with coverage enabled (through `--cov` option),  I have some empty ill-formatted `.coverage.*` files (I will not go into details why, I am not 100% sure exactly, probably this has to do with `Pool.join` not being called in some places).

An example of .coverage* files I have after the `pytest --cov` run (taken from this Travis [log](https://travis-ci.org/lesteve/joblib/jobs/32

[2018-01-18 09:21] stevepeak commented on #135
Deploying a patch today. Thank

[2018-01-18 09:23] #135 closed

[2018-01-18 10:04] lesteve commented on #135
Thanks at lot! Not 100% sure how codecov-python and codecov-bash are synchronized but you may want to update similar lines in codecov-bash:
https://github.com/codecov/codecov-bash/blob/a269d9322355c8cf83b97c8dedeb786c0dce2e90/codecov#L953-L958

[2018-01-18 10:05] stevepeak commented on #135
Thanks! I'll update the bash uploader too.

[2018-02-05 20:23] MatthieuGouel opened #136 "__init__.py files not covered"
Hello !

I just tested codecov on one of my Python project.
All my files are correctly present in the file coverage.xml but in the website the __init__.py files are not present. This lead to false the code coverage.
 I don't have a codecov.yml file on my project.

My CI build use codecov 2.0.15

Is it a choice not to include __ init __.py files ?

Here is my [coverage report ](https://codecov.io/g

[2018-02-05 21:52] rshejnberg opened #137 "CircleCI: No .coverage file found."
I've been having issues generating coverage reports for a Flask application in a private repository in CircleCI. I am able to do so locally by running ``codecov -t TOKEN``, however, in the CI I get the following when running the same command:

[code]

I received the same error when trying to command recommended by CircleCI's [docs](https://circleci.com/docs/1.0/code-coverage/):

[code]

Seems like

[2018-02-06 09:14] stevepeak commented on #137
It appears there are no `.coverage` files which are generated automatically by `coveragepy`. Please run your tests locally to make sure coverage is generated and accessible by Codecov during the upload process.

If you are using Tox or Docker to test please follow these directions: https://github.com/codecov/codecov-python#using-tox and https://docs.codecov.io/docs/testing-with-docker

Thank you 👍

[2018-02-06 09:14] #137 closed

[2018-02-09 17:46] spyoungtech commented on #136
Ran into this as well. In my case, when I run `coverage`, the `__init__.py` files are included in the coverage report via `coverage report`. But my codecov reports online do not include the `__init__.py` **in the source root**. `__init__.py` files in submodules are included.

Seems related to #125

[2018-02-10 11:26] mpeterv opened #138 "Automatic coverage file collection disabled on Appveyor"
When Appveyor is detected, coverage files are not collected automatically. This seems to be intentional (d334f5c), however, it would be convenient if automatic collection did work for Appveyor. Additionally, this restriction doesn't seem to be mentioned in README.

[2018-02-10 11:32] mpeterv opened #139 "Error messages when running on Windows"
codecov-python's own [Appveyor build](https://ci.appveyor.com/project/stevepeak/codecov-python/build/1.0.291/job/pl23ejsc65tor1a5) demonstrates the issue: error messages like ``Error running `cd 'C:\projects\codecov-python' && git ls-files`: None`` followed by `The filename, directory name, or volume label syntax is incorrect.` appear in console. Not sure what the consequences are - it seems that

[2018-02-13 09:35] stevepeak commented on #136
I would check your configuration to make sure they are not ignored in your `.coveragerc` http://coverage.readthedocs.io/en/coverage-4.4.2/config.html

[2018-02-13 09:35] #136 closed

[2018-02-13 14:46] spyoungtech commented on #136
Thanks for the response @stevepeak apologies if this is in the wrong place or if there's something obvious I'm missing, but it seems to me that `coverage` is doing the right thing and working as expected. Even the output of `codecov --dump` seems to suggest it's working as expected. However, I'm not sure why the online report doesn't reflect this.

The contents of my `.coveragerc` are simply as fo

[2018-02-14 21:57] spockNinja opened #140 "Support AWS CodeBuild projects"
Hello, thanks for the great work at CodeCov. We use it in several projects, and have recently ported from CircleCI to AWS CodeBuild (for price and AWS CodePipeline integration).

We are currently using the codecov shell script and doing some shell magic to make it all work. It would be wonderful if CodeBuild was supported "automagically" like the other CI providers.

If it helps, here is what we'v

[2018-02-14 22:12] blueyed commented on #139
1. The "Error running `cd 'C:\projects\codecov-python' && git ls-files`: None" can be ignored, but should get fixed nonetheless.
2. `find` on Windows is apparently different from POSIX find?!  It is used for gcov only though, so you can disable it with `-X gcov` (which you do already (https://ci.appveyor.com/project/mpeterv/lua-ci-example/build/1.0.5/job/1qv2ibrm36jvcwlv#L184)).

[2018-03-08 15:27] ziima opened #143 "Ignore missing token in dump mode"
Dump mode should only print data, so the token should not be required in this case.

[2018-03-23 13:15] Peque opened #144 "`.coveragerc` vs. `tox.ini`"
Initial setup
-------------

I have a `.coveragerc` file like:

[code]

I run my tests with `tox` which in turn runs `pytest` with `pytest-cov`, which means my `tox.ini` file looks like this:

[code]

Then:

- When running `tox` in my machine the showed report  correctly excludes those lines.
- When the CI service runs `tox` first, it also shows the correct report, with those lines excluded.
- Jus

[2018-04-10 01:14] marlonbymendes opened #145 "Does codecov support multiple branches?"
If my repo does have a `.codecov.yml` file [like this](https://github.com/marlonbymendes/2018.1-Cardinals/commit/cd37bf83c737c324f7084910ed7d087d6c607118), configured for branch `codecov`, codecov.io/ shows code coverage only for the branch `codecov`, even if I commit on other branches.

However, if my repo doesn't have the file  `.codecov.yml`, codecov.io/ will only show code coverage for the def

[2018-04-11 09:30] stevepeak commented on #145
This branch is only used for the default branch when viewing the project dashboard. We only support one branch at time. Thanks!

[2018-04-11 09:30] #145 closed

[2018-04-19 09:48] billyonthemountain opened #146 "namespace depth > 1 causes "Error: HTTP 400" on Gitlab"
**How to reproduce:**
1. Create an organisation with a subproject: gitlab.com/myorg/subgroup/myrepo
2. Run tests and upload using `codecov`

**Error message**
==> Detecting CI provider
    Gitlab CI Detected
==> Preparing upload
==> Processing gcov (disable by -X gcov)
    Executing gcov (find /builds/myorg/subgroup/myrepo -not -path './bower_components/**' -not -path './node_modules/**' -not -pat

[2018-05-15 20:29] spockNinja commented on #140
Just reporting back that we have a successful upload process working. Here is our `buildspec.yml` commands that correspond to the CodeCov process.

[code]

We are about to try this repo as-is and see if we can just pass the `--pr` flag from our `VCS_PULL_REQUEST` environment variable.

[2018-05-23 13:03] aronisstav commented on #136
I am experiencing a similar issue but I am using:
- the bash uploader
- on an Erlang project
- after I have converted some internal coverage data to the Cobertura format
- and I am missing the first `<class>` entry, which is my case is `concuerror.erl`.
- without any ignored files

Based on these observations I would guess that the problem might be on the server side's treatment of the first entry

[2018-05-23 18:49] spyoungtech commented on #136
Agree it seems to be a problem with the service, not the generation of the report or tool used. The same build/tool/report uploaded to coveralls does not have the same problem.

[2018-05-23 19:21] alejandrolujan commented on #107
I'm having the same issue - declaring `exclude_lines` in `.coveragerc` or in `setup.cfg` does not seem to have any effect on my Codecov reports, even though the configuration is reflected in my local coverage reports.

[2018-05-28 14:54] julienmalard opened #149 "Unicode file names are ignored in coverage"
File names with unicode characters are not displayed in the interface, nor do they appear in the coverage statistics.
For example see the `Análisis` folder of the following project:
https://codecov.io/gh/julienmalard/Tinamit

It works fine on Coveralls (https://coveralls.io/github/julienmalard/Tinamit); see the difference in covered percentage (much higher on Codecov because of the omitted directo

[2018-06-13 08:12] Ademord commented on #107
Did anyone get this fixed? :(

[2018-06-13 08:16] Ademord opened #152 "codecov exclude_lines"
Hello!
I am trying to exclude code in the tox report, from what I gathered online I am trying to use the following in my **tox.ini** file:
[code]
But it doesn't seem to work, especially for the **environment variable** (spawning a docker container where I run all tests), for example **MYSQL_TESTS=NO**.

On my code i have it something like

- for env. variable pragma, expecting the whole function/c

[2018-06-13 08:18] Ademord commented on #144
Did you manage to get this solved? :(

[2018-06-13 09:50] Ademord commented on #152
So I managed to get it working by using:
[code]
Since I am reading the config out of a **tox.ini**, i need the "coverage" prefix. It is important 😄!

[2018-06-13 09:50] #152 closed

[2018-06-13 11:19] Peque commented on #144
@Ademord Sadly no. I am still using a separate `.coveragerc` file and, as you can see, got no response from @codecov. :confused:

[2018-06-13 11:38] Ademord commented on #144
I fixed my issue. My use case worked when I used:
[code]
where envvar=NO would be set if i wasnt using it 😄
You can look at more details about my case [here](https://github.com/codecov/codecov-python/issues/152).

[2018-06-13 14:38] Peque commented on #144
@Ademord Yeah, it seems it does not apply to my use case, but thanks for sharing! :blush:

[2018-08-05 19:25] liadmagen opened #154 "In the README.rst, the link to coveragepy is broken."
Instead of:
https://bitbucket.org/ned/coveragepy

It should be pointing to:
https://github.com/nedbat/coveragepy

[2018-08-13 22:38] cancan101 opened #155 ""Generating coverage xml reports for Python" is slow"
"Generating coverage xml reports for Python" takes ~30 seconds for a relatively small project on circleci. Is there some way (args / cache) to speed up this stage?

[2018-08-14 07:33] svenevs opened #156 "[AppVeyor] The filename, directory name, or volume label syntax is incorrect."
Related: #129 and #139

As mentioned, the CI builds for this repo fail on this same error.  Ignoring the issuing of posix `find` (disabled by `-X gcov`), noting that I do **not** actually know where this error comes from, here is the _symptom_ of whatever it is that is broken in this tool for windows:

[code]

I have rigorously tested a variety of ways to call the command, and they all result in t

[2018-08-15 02:31] cancan101 commented on #155
Looks like this was caused by `venv` folder getting included in the set of files for which coverage was reported.

[2018-08-15 02:31] #155 closed

[2018-08-22 13:47] alejandrolujan commented on #107
Any news w.r.t this issue? This is throwing off our coverage reports and creates noise for the team.

[2018-08-24 08:04] dev-zero commented on #125
The problem seems to be files with the same name but in different packages. Take as an example https://codecov.io/gh/aiidateam/aiida_core/branch/develop with the following files:

* `aiida/plugins/utils.py`
* `aiida/work/utils.py`
* `aiida/common/utils.py`

of those, only `aiida/plugins/utils.py` shows up on Codecov, while the rest are completely omitted.

[2018-08-29 10:55] pckroon opened #157 "Codecov doesn't update github PR status"
Hi all,

I'm pretty sure this is the wrong place to post this, but I don't know where else to turn.
I have a github repo [1], and run my tests using Travis CI. The results are uploaded to codecov without issues; let's take PR 96 [2] as an example. The Travis run is here: [3]. The coverage data does make it to CodeCov [4].
However, CodeCov does *not* post a PR status. I have a .codecov.yml [5], and

[2018-09-07 16:44] blueyed opened #158 "Retry uploads on (connection) errors"
Example: https://ci.appveyor.com/project/pytestbot/pytest/build/1.0.5141/job/ycpyxb9yvrckho21#L402 (RemoteDisconnected)

codecov-bash tries 3 times already, sleeping for 30s inbetween.

[2018-09-10 18:12] bryantee commented on #157
Having the same issue

[2018-09-21 06:44] akx opened #159 "Crash in local CircleCI 2 run"
The `codecov` Python client crashes in a local CircleCI run (using the [CircleCI 2 CLI](https://circleci.com/docs/2.0/local-cli/)), since not all of the environment variables it expects to be available are (even if the build is technically a CircleCI run).

This is admittedly a bit of a fringe use case, but it makes testing CircleCI flows locally harder.

[code]

Printenv output, to make fixing th

[2018-09-21 13:59] elyezer opened #160 "codecov is raising exception when collecting the reports, but not failing the build"
`codecov` is having trouble parsing the results and is failing silently. The build https://travis-ci.org/quipucords/quipucords/builds/431127410 passed but when expanding the codecov command output it shows the following:

[code]

Accessing the URL provided at the very bottom of the report it says `There was an error processing coverage reports.`

Tried to rerun the build a couple times and it alwa

[2018-09-22 11:25] marco-c opened #161 "Support uploading gzipped reports to AWS"
Just like https://github.com/codecov/codecov-bash/commit/4120dfb969d69f64bc5fa7ccf1443cd4bf4d9a4a.

[2018-09-24 19:19] metasyn opened #162 "Example repos link are using the wrong query parameter to search for repos with example in the name"
**Version**: Codecov py-v2.0.15 - https://codecov.io/

**Issue:** link does not filter repos

**Expected Behavior:** link does filter repos

**Repro**: run codecov somewhere that fails

I noticed that the link here doesn't work:
[code]
and it should probably be `q=example` as

https://github.com/codecov?q=example

works.

[2018-09-24 19:21] metasyn opened #163 "Gitter link does not exist and goes to a 404"
Version: Codecov py-v2.0.15 - https://codecov.io/

Issue: link does not go to a gitter room

Expected Behavior: link goes to a gitter room

Repro: run codecov somewhere that fails

I noticed that the link here doesn't work:

[code]

The support room is not listed here:
https://gitter.im/codecov/home

[2018-09-24 21:51] metasyn opened #164 "codecov -h provides a broken bitly link"
Issue: when I type codecov -h, I expect all the links to go somewhere.

[code]

 http://bit.ly/1O4eBpt is broken

Version:
[code]

[2018-09-24 22:12] metasyn opened #165 "codecov -h provides link to missing github issue"
[code]
that repo doesn't exist anymore?

version:
[code]

[2018-09-27 12:53] gitblit commented on #140
My team is in the process of integrating Codecov into our GitHub/CodePipeline/CodeBuild process.

We've had mixed results with the proposed PR variable definition above - issue is a non-pr-branch name will result in pass-through of the name and cause the Codecov Python script to bomb because it validates that this PR value should be an integer, null, false, and maybe some other fixed value; can't

[2018-09-27 16:29] spockNinja commented on #140
@gitblit Yes, we ran into the issue of non-pr's causing an issue. That's why we just threw the ` || true` bit on the end of that last command, to keep those builds from failing.

There have also been some improvements to this package since our initial trial, so we are able to use it instead of the codecov.sh script, still with similar env variables and parameters.

[2018-10-09 17:32] szha opened #166 "allow custom message in codecov report"
Hi,

We have a use case where we'd like to add a link to a hosted documentation website for each of our pull request changes when codecov reports. Unfortunately it doesn't seem like an option yet https://docs.codecov.io/docs/pull-request-comments

Questions:
1. is there any easy, unadvertised way for us to inject such custom comment in the report?
2. is this something codecov can support? is there

[2018-10-13 02:15] evandrocoan opened #167 "The filename, directory name, or volume label syntax is incorrect. FIND: Parameter format not correct Error: No coverage report found"
[code]
Source:
1. https://ci.appveyor.com/project/evandrocoan/pythondebugtools/build/job/enoyc2ks6ai7htww

[2018-10-13 03:18] evandrocoan commented on #167
I just manage to fix the `Error: No coverage report found` by using this command line on AppVeyor:
[code]

But the other two error lines remains:
[code]
Source:
1. https://ci.appveyor.com/project/evandrocoan/pythondebugtools/build/job/wk870p7tp3u8lc4i

[2018-10-16 20:35] jherby2k commented on #123
@stevepeak this has been an issue for a long time... any chance at getting this released?

[2018-10-19 15:36] scott-estes commented on #103
@stevepeak can you give a 1 line example of using the -Z, as it's coming back with
`codecov: error: unrecognized arguments: -Z` for me

[2018-11-01 22:19] joebowbeer commented on #140
Where is the "pr/" value of CODEBUILD_SOURCE_VERSION documented? (Has the doc changed recently?)

Currently, only the CODEBUILD_WEBHOOK_TRIGGER documentation mentions pull requests, and I observed today (to my dismay!) that CODEBUILD_SOURCE_VERSION was sometimes returning commit ids for webhook-triggered PR's on GitHub.

By the way, CODEBUILD_WEBHOOK_TRIGGER is not an ideal replacement. Its value

[2018-11-08 03:43] altendky commented on #138
@stevepeak, do you know what happened to codecov/support?  I was specifically going to mention codecov/support#402 but it has disappeared.  I don't recall there being a specific reason given for this though looking at my email apparently the powershell uploader was suggested.  Was there some reason to explicitly disable collection on AppVeyor?  Is there now?

Anyways, I ran into this a year and a

[2018-11-08 04:00] altendky opened #170 "Unable to upload from AppVeyor"
v2.0.15: https://ci.appveyor.com/project/sunu/qt5reactor/builds/20136162/job/oy4qq48g746thmrx

Specifically note `XX> Searching for reports disabled` (#138) and `Error: 404 Client Error: Not Found for url:` (perhaps a new message related to #123).  The net result is that I don't get coverage uploaded from AppVeyor for these builds.

v2.0.5: https://ci.appveyor.com/project/sunu/qt5reactor/builds/20

[2018-11-08 19:38] carusology commented on #146
Hey @stevepeak, with reference to this comment:

That isn't correct. subgroups come between the group and repository in the URLs. For example,  `https://gitlab.com/mygroup/mysubgroup/myrepository` would bring you to the "myrepository" project under the "mysubgroup" subgroup and "mygroup" group. `https://gitlab.com/mygroup/myrepository` would return a `404 NOT FOUND`.

[2018-11-17 14:39] blueyed opened #171 "retry"

[2018-11-17 14:40] blueyed commented on #158
Another example:
[code]

[2018-11-17 14:40] blueyed commented on #171
Duplicate of https://github.com/codecov/codecov-python/issues/158.

[2018-11-17 14:40] #171 closed

[2018-12-10 19:52] gtalarico commented on #159
I am seeing the same issue when executing circle ci locally.

[code]

Here is my relevant circle config:

[code]

I am executing it with `circleci local execute`
It runs fine on [circleci](https://circleci.com/gh/gtalarico/recordbin-python/7?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link)
but fails locally

[2018-12-12 10:51] pckroon commented on #157
I eventually fixed it by fiddling with the Github authorisation settings. If memory serves, I had to install the Codecov Github app, and give codecov "Third-party application access". Note that this was for an organisation's repository, so some buttons might be named differently for personal ones.
Also, it's been a while since I did this.

[2018-12-12 10:52] #157 closed

[2018-12-18 14:00] mgiaco opened #173 "Just upload *.gcov data"
Hi,

Is there a way to upload just only existing *.gcov files with this script. I do have a C project with cmake build.  And after the build and testing the *.gcov files are available in the buid directory.  How can i upload only these files`

https://github.com/liebherrnenzing/li_can_slv

I use gcovr and I also generate a coverage.xml (cobertura format) by that script.

How should the data look l

[2018-12-19 13:02] #173 closed

[2018-12-19 13:02] mgiaco commented on #173
I found a solution

[2018-12-22 01:02] svenevs opened #174 "Please add an option to skip these checks"
Noticed something interesting recently fixing another CI error: my AppVeyor results were no longer being uploaded anymore (for who knows how long).  I am greatly suspicious of this code:

https://github.com/codecov/codecov-python/blob/0743daa83647f12ff31b84d07113d2c24c27b924/codecov/__init__.py#L562-L565

### Failed build

[Full build log here](https://ci.appveyor.com/project/svenevs/exhale/builds

[2019-01-03 11:02] rahulAirFi opened #180 "Codecov not posting coverage report on pull requests"
I am facing a problem with the feature “codecov will generate a mini code coverage report and post it as a comment to the pull request”, I am getting it for a public repository of mine easily, but, not for a private one. Is there any specific procedure for private repositories?
Code coverage report for both, public and private, repositories gets uploaded successfully on CodeCov, no issues there.

[2019-01-09 18:17] j0nimost opened #186 "Documentation needs improvement"

[2019-01-22 16:09] thomasrockhu commented on #180
@rahulAirFi for private repositories, you will need to enable the team bot in order for `Codecov` to be able to write comments.  You can find the documentation here: https://docs.codecov.io/docs/team-bot

[2019-01-22 16:09] #180 closed

[2019-02-18 16:19] blueyed commented on #158
Any update on this?

Another example (from AppVeyor):
[code]

[2019-02-28 20:18] vdrhtc commented on #136
@spyoungtech, @aronisstav, @matthieugouel
Found this thread while searching

Maybe you could see [here](https://github.com/encode/django-rest-framework/issues/5647) and [here](https://github.com/encode/django-rest-framework/pull/5970) for the fix if it this still relevant

[2019-03-04 07:09] jtmoon79 opened #191 "codecov must exit code !=0 for failures"
**tl;dr** `codecov` is returning exit code `0` when it fails. The process should return a non-zero value (typically `1`) for failures.

In my case, a schell script cannot deteremine if `codecov` fails.  There appears to be some runs of codecov that clearly fail yet the process exit code is `0` (which means success for shell scripts).  This is makes `codecov` unreliable.

## Some examples where `co

[2019-03-04 16:26] hugovk opened #193 "Add support for Azure Pipelines"
With the recent changes at Travis CI, many open-source projects are taking advantage of and migrating to Azure Pipelines as a CI (it gives twice the number of parallel builds, and allows easy testing of Linux, Mac and Windows).

It would be great if Codecov supported Azure Pipelines, like Travis, without needing to set the token as a secure environment variables in the Azure Pipelines dashboard, o

[2019-03-11 20:34] j-berg opened #195 "Recognizes function run, but doesn't track"
For a given function, codecov will flag a definition line as hit, but then any line within the function doesn't get hit (https://codecov.io/gh/XPRESSyourself/XPRESStools/src/master/xpresstools/fetch.py). This seems likely as when I run the tests manually, I get the expected output which would require using the lines within the function. Here is the corresponding test file (https://github.com/XPRES

[2019-03-20 10:06] sadan opened #196 "Incomplete read error"
Hi,

I am trying to configure Codecov with one of our open source repo on Travis. [Here's](https://travis-ci.org/philanthropy-u/edx-platform/jobs/498549215) the build details.

While uploading the coverage files it gives me **Incomplete read error.**. I am using **codecov=1.6.3** with **python=2.7**

Here's the error message i get.
<img width="999" alt="Screen Shot 2019-03-20 at 3 03 29 PM" src="h

[2019-03-23 00:15] MichaelKim0407 commented on #136
@stevepeak please reopen this issue.

The coverage report clearly contains `__init__.py` in both local and ci tests, but they are not reported on codedev website.

[2019-03-25 09:45] xoxys commented on #103
Quiet old thread but for completion, the currently used parameter is `--required`

[code]

[2019-03-31 17:30] azzamsa opened #197 "codecov in gitlab CI/CD didn't aware of new commits"
This is what my codecov dashboard looks like:

![image](https://user-images.githubusercontent.com/17734314/55292384-73c6d380-5414-11e9-84c0-c1cc9e1c1735.png)

It say that 'master' commit was 12 ago. But turn out:

![image](https://user-images.githubusercontent.com/17734314/55292396-8fca7500-5414-11e9-942f-94378011b287.png)

I have many commit in [master](https://gitlab.com/azzamsa/lupv) that codec

[2019-04-01 04:32] azzamsa commented on #197
I think it because the same commit already tested in devel branch, so codecov din't pick the same commit in the master. https://docs.codecov.io/docs/merge-commits

My current work around is to use badge link from devel instead of master

[2019-04-01 04:32] #197 closed

[2019-04-05 17:04] ben-spiller opened #198 "Python .coverage files in nested directories ignored due to ignored_report"
If I have a Python .coverage file in my current directory when I run codecov it finds it, but any .coverage files from child directories seem to be completely ignored.

This seems to be because of the regex r'(/\.coverage.*)|' in the `ignored_report` list - but I can't figure out why that's there? Especially as  the expression '([^/]*coverage[^/]*)|' is listed in the `is_report` list so seems like

[2019-05-12 15:04] dtracers opened #199 "File loses coverage even though it is not effected by changes"
https://github.com/SaltieRL/DistributedReplays/pull/270

Randomly some bit of code decided to stop being covered even though it is not effected or any unit test or coverage that is run.

Any way to prevent this?

[2019-05-12 15:44] Sciguymjm commented on #199
Likely due to random ranks generation. That particular line of code only runs when the rank is GC, so it's possible that the previous run randomly picked GC and thus ran the code.

[2019-06-03 20:50] takluyver commented on #71
#202 is my attempt to fix this.

[2019-06-06 19:09] pllim opened #203 "Unable to read token off Azure pipeline secret variable"
Hi. I have the following job on Azure but I am having problem getting `codecov` to upload the result. I have `CODECOV_TOKEN` defined as secret pipeline variable in the pipeline settings. What I am doing wrong? I am unable to find any good working examples. Thank you!

[code]

The error:
[code]

xref spacetelescope/synphot_refactor#194

p.s. This won't be a problem if #193 is done.

[2019-06-07 13:32] kapilt commented on #196
we're also seeing this periodically (also in azure pipelines)

![Screen Shot 2019-06-07 at 9 31 40 AM](https://user-images.githubusercontent.com/21650/59107657-203a9f80-8907-11e9-97cf-ad8208f14694.png)

[2019-06-07 13:55] sadan commented on #196
Solution?

On Fri, 7 Jun 2019 at 3:32 PM, Kapil Thangavelu <notifications@github.com>
wrote:

--
*Sadan A.*

[2019-06-07 17:53] #71 closed

[2019-06-14 23:10] j-berg commented on #195
Started working when I merged my multiple python test scripts using `coverage run -a test2.py`, etc

[2019-06-14 23:10] #195 closed

[2019-06-20 17:04] lulubobst commented on #140
What was the last year in regard to improvements to this integration @spockNinja how did you go, any updates?

[2019-06-20 21:29] spockNinja commented on #140
I believe we now have several projects using this tool with no additional magic required.

Here is a simplified buildspec that is working for us.

[code]

where we have `codecov==2.0.15` pinned in the requirements/test.txt file.

[2019-06-20 21:30] #140 closed

[2019-06-24 22:38] vangent opened #205 "codecov stopped adding GitHub PR comments"
My team repo (https://github.com/google/go-cloud) has the Codedov GitHub app installed, and a [codecov .yaml file](https://github.com/google/go-cloud/blob/master/.codecov.yml). Comments used to work fine ([example](https://github.com/google/go-cloud/pull/2299#issuecomment-501022979)), but about 2 weeks ago they stopped ([example PR](https://github.com/google/go-cloud/pull/2377) with passing tests

[2019-06-25 00:09] kapilt commented on #196
We're starting to see this on almost 40% of our pull-requests, have to keep retriggering ci to get them running. Note this issue was also reported previously as #171

[2019-06-26 20:24] bstaletic commented on #203
You need to map the secret variable to one that is actually readable.

https://docs.microsoft.com/en-us/azure/devops/pipelines/process/variables?view=azure-devops (search for "secret")

[2019-06-27 00:36] subhashb commented on #205
Same problem observed in http://github.com/proteanhq/protean/ repo.
The commit that triggered this error was an upgrade of pytest from version `4.6.1` to `4.6.2`.

[code]

[2019-07-04 00:31] vangent commented on #205
Our PRs are getting the comments again, apparently randomly.

[2019-07-04 03:49] thomasrockhu commented on #205
Hi @vangent, just letting you know that this has been brought up to the product team.

[2019-07-23 16:21] quantus commented on #158
I've also seen quite a few similar connection errors from our CircleCI builds. My current solution for the issue has been running `codecov` like this:
[code]

I know it isn't pretty but I haven't seen it failing yet.

[2019-08-09 19:35] chfw opened #207 "Unable to see covered lines"
Hi all

I am having difficult to see which lines are covered and which are not. Here is the link:

https://codecov.io/gh/moremoban/moban/src/5a8281a2ca76ff59642bc7ea4eb6df75819b9bfe/moban/plugins/template.py

How do I see the covered lines in a file on a branch?

Thanks

[2019-08-20 08:48] timandy commented on #158
I got the same [issue ](https://travis-ci.org/timandy/linq/jobs/573661452#L1771)

[code]

[2019-08-31 12:49] nschloe opened #209 "gh-actions: No CI provider detected."
E.g., https://github.com/nschloe/tikzplotlib/pull/329/checks?check_run_id=208746870.

[2019-09-02 11:49] feliwir commented on #136
Was this ever fixed? Our report still contains no `__init__py`. See:
https://codecov.io/gh/OpenSAGE/OpenSAGE.BlenderPlugin/tree/master/io_mesh_w3d

[2019-09-22 16:55] hugovk commented on #209
+1

Our options now:

1. Save the token at https://codecov.io/gh/org/repo/settings as `CODECOV_TOKEN` at https://github.com/org/repo/settings/secrets and add it to the workflow YAML:

[code]

Downside: not available to forks. And coverage is most needed from PRs from forks.

2. Save the token at https://codecov.io/gh/org/repo/settings as `CODECOV_TOKEN` at in plaintext in the workflow YAML:

[code

[2019-09-28 21:06] evandrocoan opened #211 "threshold stopped working"
I have set https://github.com/evandrocoan/debugtools/blob/master/codecov.yml the threshold to 2% quite some time, but today, my repo had a change of 0.03 and it triggered as error:

![image](https://user-images.githubusercontent.com/5332158/65822460-bd08ac00-e21a-11e9-943b-d329bc97b5d3.png)

[2019-10-03 15:04] lycantropos opened #212 "Failed 'Uploading to S3' step"
From some moment I've started to get
[code]

For example [this **Travis CI** job](https://travis-ci.org/lycantropos/paradigm/jobs/593075299) (and the whole build as well) and [this **Azure DevOps** build](https://dev.azure.com/lycantropos/paradigm/_build/results?buildId=629&view=logs&j=3075192c-09d7-5d97-1701-9d7cb9f4b8fc) (*Upload coverage* step).

[2019-10-03 15:44] peter-featherstone commented on #212
Confirmed. We have started getting this across all our repos in the past 8 hours.

[2019-10-15 15:18] eric-wieser commented on #136
@stevepeak, can this be re-opened?

[2019-11-12 23:23] #164 closed

[2019-11-14 15:31] Helveg opened #219 "Codecov crashes on Semaphore build due to missing env var SEMAPHORE_BUILD_NUMBER"
Running

[code]

on Semaphore CI fails with the following error:
[code]

[2019-11-14 15:39] Helveg commented on #219
Also important to notice is that the `SEMAPHORE` env var that is being checked to determine that Semaphore CI is being used, is also set to true if Semaphore 2.0 is being used.

[2019-11-30 16:06] moggers87 commented on #198
I don't think this has anything to do with `ignored_report` - I think that's just to make sure `.coverage` files don't end up in the report as files that are missing coverage.

However, it would be nice if codecov had the option to look in places other than the current working directory for coverage data.

[2019-12-02 10:10] ben-spiller commented on #198
Thanks. The requets here is not to specify other directories explicitly, but rather to (optionally) do a recursive search under the current directory, to pick up coverage files from all tests (typicalyl far too many to explicitly list on the command line)

[2019-12-11 16:37] achristoforides opened #222 "codecov's S3 upload doesn't report failure but reported URL has no data"
After generating a merged coverage report and using codecov to process and upload it, the tool reports that it uploads the result to S3. Additionally, it outputs a URL where the report can be found. In this instance, we're using AppVeyor.

When going to this URL, I'm greeted with the message "Unable to find report content in the storage archive." The page displays another large message asking if t

[2019-12-13 06:11] Kogia-sima commented on #136
experiencing same issue here with **Rust + kcov**.

[2019-12-16 06:39] pquentin commented on #209
GitHub Actions does not support this use case yet, see https://community.codecov.io/t/whitelist-github-action-servers-to-upload-without-a-token/491/10 for more details.

[2019-12-25 10:52] ibrahimroshdy commented on #212
Any updates on this? Facing the same issue.

[2019-12-25 21:33] goerz opened #224 "Fails with coverage >= 5.0"
I find that codecov on Travis CI fails with the recent 5.0 release of coverage.

With `coverage` version `5.0` (as well as `5.0.1`) I get the [following output](https://travis-ci.org/goerz-forks/pypkg_x8uqn/jobs/629470864):
[code]

I haven't been able to determine what exactly causes this. Locally, `coverage xml -i` works fine with any version of `coverage`.

With `coverage` version `4.5.4` [uploa

[2020-01-10 17:12] ngoldbaum commented on #224
It would be really nice if the codecov package on pypi had a pin so that coverage 5.0 didn't get installed so long as it isn't supported.

[2020-01-27 13:44] root-11 opened #225 "Code coverage no the front page is 0%."
Isn't that a bad sign given the scope of this repo?

[2020-01-27 15:01] raczben opened #226 "Colorer characters printed out on windows"
Here is the output of codecov, where there are some unwanted characters like `[90m==>[0m`

[code]

I use:
 - Win 10.0.18363 Build 18363 (both cmd and powershell)
 - Python 3.7.4
 - Codecov py-v2.0.15 - https://codecov.io/

[2020-01-28 08:45] raczben commented on #226
A workaround is to use `--no-color` switch. However this should be solved.

[2020-01-28 08:53] raczben commented on #226
I suggest to use [colorama](https://pypi.org/project/colorama/) or [termcolor](https://pypi.org/project/termcolor/) or any other handy tool for colored output, instead of the current, platform specific way.

[2020-01-29 17:50] rmjarvis opened #227 "Marking comments as uncovered"
Codecov has recently started marking some comment lines as being uncovered.  Most commonly right at the start in my copyright notice.

Here is an example: https://codecov.io/gh/rmjarvis/TreeCorr/src/jk2/treecorr/binnedcorr3.py
9 of the first 12 lines (all of which are comments) are pink, and everything below that is either green or white.  So the file is marked as having only 96% coverage, rather

[2020-01-30 11:46] postlund commented on #136
I have this problem in pyatv as well. One of my __init__.py files are ignored but the others are present. Noteworthy is that I had this file ignored before in my `.coveragerc`, but have removed it from there. Coverage for the file is in the generated report, but not on website.

[2020-02-02 12:43] Paebbels opened #228 "Broken license detection on PyPI"
Line 29 in `setup.py` breaks license detection on PyPI.

    license='http://www.apache.org/licenses/LICENSE-2.0',

Source: https://github.com/codecov/codecov-python/blob/master/setup.py?ts=2#L29

The license got already specified via `classifiers`. Moreover, the parameter `license` seems to be outdated. It's not documented in the latest Python documentation.

License detection from PyPI is used b

[2020-02-04 13:57] raczben commented on #222
Can you link your repo to see the full settings?

Please read [this SO post](https://stackoverflow.com/q/59934305/2506522), and give the coverage file explicitly.

[2020-02-04 13:59] raczben commented on #170
Please read https://github.com/codecov/codecov-python/issues/158#issuecomment-514282362

Does your problem permanent or occasional?

[2020-02-04 14:03] raczben commented on #167
Why this fix has not been accepted?

[2020-02-04 14:23] altendky commented on #170
This is really old but as I recall it was an every time sort of thing.  I traced the first point down and found the line of code and introducing commit that explicitly disabled collection on AppVeyor and documented it in codecov/support#402 but at some point codecov/support got removed.  I don't recall the second 404 issue particularly.

Since this issue references trouble with 2.0.15 and that is

[2020-02-05 15:01] Jeeyuen-Rick commented on #222
I can link the repo. May you tell me what do I look for in the settings?

[2020-02-06 22:58] Jeeyuen-Rick commented on #222
I had changed -f switch to --file switch with --no-color and it still failed.

[2020-02-12 19:23] Jeeyuen-Rick commented on #222
Our code coverage worked until 4 months ago and the last job that still worked is
https://ci.appveyor.com/project/cppmicroservices/cppmicroservices/builds/28358857/job/gwcwwtj78f6973kw and codecov report still available here https://codecov.io/github/CppMicroServices/CppMicroServices/commit/35e20cc08ae1905c43431440cce8b8cb223dde8c
We encountered problem around the same time (4 months ago)
https://

[2020-02-14 10:49] pcorpet opened #230 "Custom ignored_report"
I have a file in my repo that codecov mistakes for a coverage report. Would it be possible to add a flag to this script to ignore reports through a custom regexp?

If you're OK with the idea, I can send a PR.

[2020-02-14 17:54] Jeeyuen-Rick commented on #222
We fixed our problem with the following changes:

1. specify gcov version same as gcc version, codecov requires both gcc and gcov have the same version on Linux
2. use codecov bash script on AppVeyor machine image install of local installed codecov to get invalid syntax error on Windows
3. remove spaces from code coverage pathname with spaces for Linux build
4. Add extra line after last method clo

[2020-02-14 18:36] #222 closed

[2020-02-27 02:36] jayvdb opened #233 "Support Cirrus CI"

[2020-02-27 02:39] jayvdb commented on #233
Also the CLI still returns exit code 0 when it fails to upload results.

[2020-03-01 05:45] interDist commented on #107
everybody who complained about `.coveragerc` not being taken into account -- shouldn't you specify all your settings in `codecov.yml`?..

[2020-03-01 19:20] Flamefire commented on #156
Would be fixed by https://github.com/codecov/codecov-python/pull/169

[2020-03-01 19:21] Flamefire commented on #139
@blueyed the fix is there for a while now but not merged: https://github.com/codecov/codecov-python/pull/169

[2020-03-13 09:01] AbdealiJK commented on #136
Similar story for me ...
Just a bump to reopen the issue.

[2020-03-13 16:41] desilinguist commented on #212
I am now seeing the same thing on my repo starting just now.

[2020-03-13 16:44] desilinguist commented on #212
The error I am saying is more about a timeout:

[code]

[2020-03-14 04:58] nmoinvaz commented on #212
I started having better success after I added gzip support for S3. You can try using my branch or PR.

[2020-03-17 14:31] drazisil commented on #191
This is handled by the `--required` flag.

[2020-03-17 14:31] #191 closed

[2020-03-17 15:30] ddelange opened #237 "Github Workflow broken in 2.0.17"
Can confirm workflow works again if I pin 2.0.16 in CI

[code]

[2020-03-17 15:34] ddelange commented on #237
example workflow (using `checkout@v2`): https://github.com/ddelange/pipgrip/blob/0.2.0/.github/workflows/main.yml

[2020-03-17 17:59] drazisil commented on #237
Thanks for the report, investigating.

[2020-03-17 18:20] drazisil commented on #237
Deployed https://pypi.org/project/codecov/2.0.18/

[2020-03-17 18:20] #237 closed

[2020-03-23 12:36] agboom opened #243 "Codecov v2.0.20 fails in Alpine Linux"
After upgrading from 2.0.15 to 2.0.20 the codecov command fails with the following error:

[code]

After that it prints the usage of find:

[code]

Where `BusyBox` is probably a clue to the problem. Codecov probably expects GNU find?

[2020-03-23 12:42] agboom commented on #243
The related line in the Codecov script seems to be here: https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L689

[2020-03-23 12:48] agboom commented on #243
Installing findutils with `apk add findutils` did not fix the issue, but did result in a slightly different error message.

[code]

The usage of find was not printed after this.

[2020-03-23 15:34] agboom commented on #243
After closer inspection, the regression seems to be introduced in 2.0.17. This coincides with the source code where `find` is used.

[2020-03-30 01:20] kinow opened #244 "Codecov.io report doesn't match Coverage.py when branch coverage is enabled"
Not sure if the same issue as #125, but I noticed that when I have branch coverage in coverage.py, the reported coverage in Codecov doesn't match (without coverage both work exactly the same).

The issue appears to be that Codecov doesn't compute branch-coverage the same way as Coverage.py.

This is the reported coverage without branch-coverage in both Coverage.py and Codecov (they match).

![imag

[2020-03-30 13:32] fepegar opened #245 "HTTP 400 Invalid signature"
Hi,

I'd like Codecov to automatically check my code when pushing and when opening a PR. The webhook on GitHub is not working. In https://github.com/fepegar/torchio/settings/hooks/ I can see a lot of failed deliveries such as `b1c1e4ba-7289-11ea-8933-1deeb855d87b`. The body of the response is always `HTTP 400 Invalid signature`. I assume you need more information, please let me know how I can help

[2020-04-06 18:31] erwanp commented on #107
In [my project](https://github.com/radis/radis) I didn't manage to include the `exclude_lines` in the `codecov.yml` but it worked by adding a `.coveragerc` on the side.

[2020-04-07 13:13] mlewand commented on #205
Any updates on that? I also noticed that codecov reports sometimes are not posted to the PR, despite being uploaded successfully and properly appearing on codecov website.

This is one of the top google results that you hit when looking for this issue, so that's why I'm posting here.

[2020-04-08 05:59] fish2000 opened #247 "Failure in the `gcov` processing `find` command, whose test is AWOL"
The `gcov` processing command issued by `codecov` contains malformed `find` predicates, and always fails. The failure looks like this:

![Screen Shot 2020-04-08 at 1 45 10 AM](https://user-images.githubusercontent.com/378969/78748792-dceff980-793a-11ea-84c6-c059c0c836c4.jpg)

… this is on macOS, which offers BSD `find` as the default. I verified the failure by [installing GNU `findutils` with Home

[2020-04-13 11:39] Luttik commented on #247
I also have the gcov find issue on github actions.

[2020-04-17 08:01] Axel13fr opened #249 "Codecov 2.0.22 doesn't find any reports"
To make coverage reports work on my repo, https://github.com/Axel13fr/lib_sonarcov I had to use a fixed revision of codecov back to 2.0.15.

When using 2.0.15 it does find reports and everything works.
https://travis-ci.org/github/Axel13fr/lib_sonarcov/jobs/676087196#L4161
When using 2.0.22 it doesn't find any reports (I haven't tried all the intermediate versions though).
https://travis-ci.org/gi

[2020-04-20 09:38] ikostan commented on #158
Hi all.
Same issue, using GitLab CI:

`
 $ coverage xml
 $ codecov
 find: unknown predicate `-not -path './bower_components/**' -not -path './node_modules/**' -not -path './vendor/**''
       _____          _
      / ____|        | |
     | |     ___   __| | ___  ___ _____   __
     | |    / _ \ / _  |/ _ \/ __/ _ \ \ / /
     | |___| (_) | (_| |  __/ (_| (_) \ V /
      \_____\___/ \____|\___|\__

[2020-04-22 09:49] sineverba commented on #247
I can confirm this bug and with v2.0.15 it works. Related also to this issue: https://github.com/codecov/codecov-python/issues/249.

[2020-04-22 09:49] sineverba commented on #249
I can confirm that 2.0.15 works. Related to https://github.com/codecov/codecov-python/issues/247

[2020-04-22 12:03] youtux commented on #249
Same problem with pull requests for pytest-bdd:
https://travis-ci.org/github/pytest-dev/pytest-bdd/jobs/677569102

[2020-05-17 07:47] amanagr opened #250 "find: unknown predicate `-not -path '"
We see this error on CircleCI builds: eg: https://app.circleci.com/pipelines/github/zulip/zulip/7488/workflows/7906c5d1-5032-47a1-88f3-60e79a9631d1/jobs/43293/parallel-runs/0/steps/0-114

[code]

When running:
[code]

Pinning the version of `codecov==2.0.15` fixes this (since it doesn't use `find`.)

We use `buildpack-deps:bionic-scm` as our base image for CI builds.

Our CI config file - https://

[2020-05-17 21:57] Borda opened #251 "HTTP 400 while uploading to s3 with python codecov"
We have a public repo which is built on Drone.io and everything was fine until yesterday...
According to the [Codecov commit history](https://codecov.io/gh/PyTorchLightning/pytorch-lightning/branch/master/commits?page=1) the reports start failing about 24h ago without any change in Codecov config or CI configuration...
It seems to be strictly failing on uploading to S3, see the error:
[code]
see:

[2020-05-17 23:12] enmatt commented on #251
Same here. I saw on their status page that they did storage infrastructure maintenance Saturday morning.

[2020-05-18 01:12] knary commented on #251
Also seeing it: https://ci.appveyor.com/project/knary/labbook/builds/32938815/job/1o7413jw5p3fcfnf

[2020-05-18 10:09] knutster commented on #251
Same here from a circleci build

[2020-05-18 11:13] hootener commented on #251
@ThiagoCodecov has submitted a fix in #253 . We'll get that merged today, along with #252

[2020-05-18 11:38] Borda commented on #251
by the PRs' name it does not look very relevant... so is it fixed now in master?

[2020-05-18 16:07] eric-wieser commented on #251
This looks merged, but it'll need a release to PyPI to help people using CI.

[2020-05-18 16:25] Borda commented on #251
it seems that it is working now, so some temporary S3 issue...

[2020-05-20 16:47] timabbott commented on #250
To provide some added detail: I think that the `find` syntax used here just unconditionally fails in Ubuntu Bionic.

[2020-05-20 17:57] timmc-edx opened #256 "Tags and changelog for 2.1.x?"
It looks like 2.1.0 and 2.1.1 have hit PyPI, but I don't see tags in git. (2.0.22 is also missing from the changelog.) Would you mind pushing these up?

[2020-05-21 09:01] zhuyifei1999 commented on #250
This is from https://github.com/codecov/codecov-python/commit/9f50cca7e5c5e0bb5e2859db238da08e3195e105#diff-ed4cb86e1f4a5c5feeecc37b90ec6a23R679

`dont_search_here` has multiple arguments and is expected to be shell-expanded. CC @drazisil

[2020-05-21 13:08] drazisil commented on #250
@zhuyifei1999 Changes where made because using the shell opens the app to the possibility of command injection. If you are aware of a secure way to do this, PRs are welcome.

[2020-05-21 13:13] nmoinvaz commented on #250
#217 removes find command entire using python to do file searching and excluding.

[2020-05-21 13:38] drazisil commented on #250
@nmoinvaz Thanks, taking a look

[2020-05-21 14:40] drazisil commented on #250
Should be resolved by #217

[2020-05-21 14:40] #250 closed

[2020-05-21 17:27] amanagr commented on #250
Thanks for fixing this quickly!!

[2020-05-22 16:25] pganssle opened #261 "Version 2.1.3 fails to find gcov files"
Recently codecov stopped uploading my C code coverage on a Python C extension I have written.

In [this job](https://github.com/pganssle/zoneinfo/runs/696921785?check_suite_focus=true), `tox` is using `codecov==2.1.1`, and the upload succeeds.

In [this job](https://github.com/pganssle/zoneinfo/runs/697452420?check_suite_focus=true), `tox` is using `codecov==2.1.3` and I see the following error:

[2020-05-22 16:43] nmoinvaz commented on #261
I do notice that it uses three dots `...`

[2020-05-22 16:46] pganssle commented on #261
@nmoinvaz That's actually part of the "slight modifications" 😅, anywhere you see the three dots, replace it with `/home/runner/work/zoneinfo`.

(I also noticed that my original link was not a "permalink" and changed when I pushed a new fix to the PR, I've now updated it to be a permalink).

[2020-05-22 16:51] nmoinvaz commented on #261
I think this might be fixed with the latest master branch since it no longer uses `find` command.
https://github.com/codecov/codecov-python/commit/65d596e454d7a24fd0114418d1f13e6e5f66f0ee
I recommend testing some how with master if you can.

[2020-05-22 16:56] pganssle commented on #261
@nmoinvaz No, I'm pretty sure that's the commit that _broke_ `codecov`. It works fine with the latest version using the `find` command (version 2.1.1 — confirmed by pinning this in my `codecov` tox environment).

[2020-05-22 16:58] nmoinvaz commented on #261
I see the version numbers on Pypi are different than in git.

[2020-05-22 16:59] drazisil commented on #261
If that broke it, I'm going to to need to rollback, unless you can somehow test this @nmoinvaz ?

[2020-05-22 16:59] nmoinvaz commented on #261
Ok I will take a look at it

[2020-05-22 16:59] pganssle commented on #261
See #256

[2020-05-22 17:04] drazisil commented on #256
I have no idea what `2.0.22` changed.

2.1.0 was to remove a header that was causing 400s on upload.

... These were small bug fixes that I'm blanking on right now. Will research when I get a chance.

2.1.3 was to replace `find` with a native find. It was also to correct version numbers since I believe all prior 2.1.x versions reported as 2.0.24?

[2020-05-22 18:49] nmoinvaz commented on #261
I think it might have to do with how you are are calling codecov. If you change it to os.system call, for me it does not have that problem. I think it might not be able to find gcovr, because when I run the command it fails on, it works and the file does exist.

[2020-05-22 19:14] nmoinvaz commented on #261
I was able to reproduce. I have two commits that should help. Please give them a shot.

[2020-05-22 19:35] kmpaul commented on #251
It is not working for me.

[2020-05-22 19:55] kmpaul commented on #251
Ok.  Sorry for the noise.  I verified that I can indeed get `codecov` to work properly if I install from the master branch (instead of the latest release).

[2020-05-22 22:20] thomasrockhu commented on #205
@mlewand and @ryanprater, this has been fixed for the original poster. I'm going to close this out, but if you would like to me take a look, please make a post in our [community boards](https://community.codecov.io).

[2020-05-22 22:20] #205 closed

[2020-05-24 23:12] interDist commented on #251
@Borda looks like the issue is resolved.

I had to update in project dependencies (requirements) the version of `codecov` to 2.1.3.

[2020-05-29 01:36] nmoinvaz commented on #261
This should be resolved now.

[2020-05-29 15:26] jquast commented on #158
Dear maintainer(s): Would a PR to use a 3rd party "retryable" decorator, https://tenacity.readthedocs.io/en/latest/ be accepted?

[2020-05-29 15:29] nmoinvaz commented on #158
I implemented a retry for requests here and retry number is configurable via args:
https://github.com/nmoinvaz/codecov- python/commit/9632dc655ed378ece67bf54861a300dd1e732aef

[2020-06-03 12:35] xoxys commented on #158
Looks like this is a long-running issue. What about the solution from @nmoinvaz? Could it be added or not? What is needed to finally get a solution into codecov-python?

[2020-06-03 19:28] thomasrockhu commented on #261
Fixed via https://github.com/codecov/codecov-python/pull/263

[2020-06-03 19:28] #261 closed

[2020-06-04 04:34] thomasrockhu commented on #256
This has been done via https://github.com/codecov/codecov-python/pull/271

[2020-06-04 04:34] #256 closed

[2020-06-04 04:34] #251 closed

[2020-06-04 04:37] thomasrockhu commented on #247
We recently released `2.1.3` which pulls in #217.

[2020-06-04 04:37] #247 closed

[2020-06-04 04:39] thomasrockhu commented on #28
Hi @ionelmc, we meet again! I'm going to close this out due to the age of this request. If it's still an issue, let me know

[2020-06-04 04:39] #28 closed

[2020-06-04 04:40] thomasrockhu commented on #35
Closing due to age of issue.

[2020-06-04 04:40] #35 closed

[2020-06-04 04:41] thomasrockhu commented on #53
This should be solved here: https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L573

[2020-06-04 04:41] #53 closed

[2020-06-11 18:11] nschloe commented on #209
The bash tool works for me, too. I make sure to run it on pushes to master and on pull requests,
[code]
and submit it for only one of my matrix builds:
[code]

[2020-06-14 10:18] Maks3w opened #278 "Codecov v2.1.6 Fail when using coverage"
v2.1.6 has lock the coverage dependency to v4.5.4

Now the integration is broken (at least in Python 3.8)

[code]

With coverage 5.1 it was working fine

[2020-06-14 18:22] thomasrockhu commented on #278
Thanks @Maks3w, `2.1.7` should fix this.

[2020-06-14 18:22] #278 closed

[2020-06-14 18:25] thomasrockhu commented on #249
This has been fixed post `2.1.3`

[2020-06-14 18:25] #249 closed

[2020-06-14 18:26] thomasrockhu commented on #243
`find` has since been removed post `2.1.3` @agboom. Is this still an issue?

[2020-06-15 18:01] agboom commented on #243
@thomasrockhu It works again, thanks!

[2020-06-15 18:01] #243 closed

[2020-06-15 20:47] fahadshehzada opened #281 "Need to enable codecov on PR Level as GitHub Actions for Checks"
I'm using codecov.io

Run codecov/codecov-action@v1.0.7
with:
token: ***
file: services/billing/src/coverage/clover.xml
flags: billing
/bin/bash codecov.sh -f services/billing/src/coverage/clover.xml -n -F billing

![image](https://user-images.githubusercontent.com/61680750/84704462-4d3a7d00-af73-11ea-9bd0-50ae83285e03.png)

Running above GitHub action, generating report as well but not showing on

[2020-06-16 13:57] thomasrockhu commented on #281
Hi @fahadshehzada, are you looking for [status checks](https://docs.codecov.io/docs/commit-status)?

[2020-06-17 09:00] fahadshehzada commented on #281
Yes

[2020-06-17 11:57] #281 closed

[2020-06-23 17:23] oktonion opened #282 "How could I exclude some files from report?"
Hello, I'm using Travis CI and codecov.io in my project build setup.

My .travis.yml looks like

[code]

the `get_code_cov.sh` script is simple as:

[code]

Now I wonder: how could I make `codecov` to exclude files with patterns like "tests/*" from the generated report?

[2020-06-29 18:21] syncrostone opened #283 "Unable to get Codecov badge for a specific release or tag"
I would like to use a release-specific Codecov badge for a stable release in documentation. I have [made and tagged the release in github](https://github.com/murraylab/PsychRNN/releases/tag/v0.4). Is there a way to get a codecov badge for a release tag? If not, it would be great if that feature could be added.

With Travis.ci, tests automatically run for the tag / release, and I can use that badge

[2020-07-01 21:10] MichaelLiZhou commented on #159
I am experiencing the same issue running it locally. I tried to pass in the env variable `CIRCLE_PROJECT_REPONAME` and able to reproduce the same error.

[code]

[2020-07-04 16:18] antonv6 opened #284 "hg identify call fails because it uses a `|`, but try_to_run() is missing shell=True"
Noticed by browsing somebody else's CI output:
[code]

But, as you can see in this file: https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L865 the command's intent is to provide `-d` not to `hg id`, but to `tr`. It doesn't work because by default `shell` argument of `try_to_run()` is False.

The fix could be to just provide shell=True to that function, but I suggest to rep

[2020-07-15 02:42] JungHanter opened #286 "Cannot run codecov with --tries flag"
I tried uploading with the below command
[code]

The [tries flag] is one of the advanced arguments.

However I got error with this flag.
[code]

Is this a bug? Or how can I use this flag?

[tries flag]: https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py#L410

[2020-07-15 02:53] nmoinvaz commented on #286
I don't believe there has been a new release. You will have to use the repository.
[code]

[2020-07-15 02:58] JungHanter commented on #286
I already use latest version (2.1.7).
I updated again with you command, but the error is still happened.

[2020-07-15 03:00] thomasrockhu commented on #286
@JungHanter, the latest version (2.1.7) doesn't have the `tries` argument. I'll release (2.1.8) tomorrow which should have the change.

[2020-07-15 03:03] JungHanter commented on #286
Thanks :)

[2020-07-16 02:14] thomasrockhu commented on #286
Hi @JungHanter, we just released `2.1.8`, would you be able to try it?

[2020-07-16 09:16] JungHanter commented on #286
Working well. Thanks 😄

[2020-07-17 01:55] #286 closed

[2020-08-26 02:59] nmoinvaz opened #293 "Wait between retries"
I noticed that the retries attempt one right after another. It might be a good idea if there was a sleep time between the retries.

[2020-08-31 18:47] blueyed commented on #158
Retries have been added in https://github.com/codecov/codecov-python/commit/07583f324c194d05ff32bc7ba20cc34cd1e12cc0 by @thomasrockhu, thanks!

However I've still seen this now:
[code]
From this it is not clear if there have been any retries at all (should get logged probably), and it might have worked better with a delay between retries (#293, #295).

[2020-08-31 19:08] blueyed commented on #293
Yes, makes sense.
As per https://github.com/codecov/codecov-python/issues/158#issuecomment-683961568 I think it would be good to add some logging, indicating that it will be retried in X seconds.

[2020-08-31 19:11] blueyed commented on #244
That should work in general.
Make sure that you are generating the report / coverage.xml using the same options.  I recommend to generate it manually (using `.coveragerc`), and then specify it with codecov-python (`-f coverage.xml`).
Also `coverage report -m` or similar can be added to CI to have a report there for comparison.

[2020-08-31 20:22] nmoinvaz commented on #158
Looking at codecov bash uploader it appears to now try 5 times, sleeping for 2s in between.

[2020-08-31 20:22] kinow commented on #244
Hi @blueyed

It does work in general. But if you configure if to have branch coverage, manually or not, the `coverage` generated values do not match the values displayed in Codecov UI.

We have kept Codecov in the UI (where we are using `nyc` + `mocha`) where it's giving us the right values, but have disabled the Python reporting as developers were finding it confusing to have mismatching values r

[2020-08-31 20:56] thomasrockhu commented on #244
@kinow, can you open a ticket under `support` in our [community boards](https://community.codecov.io)?

[2020-08-31 22:12] blueyed commented on #244
@kinow FWIW I am using branch coverage for/with many projects, and codecov reports it properly.

I am not saying there might not be an issue somewhere of course.  It still is more an issue with the server/backend then - so creating a support ticket is the way to go I think, yes.

[2020-09-10 21:56] tsiq-decker commented on #136
@stevepeak Can you re-open this issue? I believe I'm experiencing something similar. I have files that I expect to see in the Codecov Web UI, but I don't.

I also don't see files with 0% coverage (which are shown in `coverage report`) that I'd like to appear in the UI to draw attention to them.

[2020-09-10 22:01] thomasrockhu commented on #136
@aadibajpai and @tsiq-decker can you open at ticket in the support section of our [community boards](https://community.codecov.io)?

[2020-09-15 20:02] #293 closed

[2020-09-21 19:20] #284 closed

[2020-09-25 07:10] dependabot-preview[bot] opened #299 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/codecov) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/codecov/update-logs/48715705).

[2020-09-28 07:01] #299 closed

[2020-10-09 19:00] thomasrockhu commented on #42
Closing out due to age, and I believe is no longer an issue.

[2020-10-09 19:00] #42 closed

[2020-10-09 19:04] thomasrockhu commented on #68
This has been solved via https://github.com/codecov/codecov-python/commit/2f3d3abbf0dd378013a88eeed075ba3dc5f5ec03

[2020-10-09 19:04] #68 closed

[2020-10-09 19:45] thomasrockhu commented on #199
If this is still a problem, please open a ticket in the `support` section of our [community boards](https://community.codecov.io).

[2020-10-09 19:45] #199 closed

[2020-10-09 19:47] thomasrockhu commented on #196
Hi @kapilt and @sadan , if this is still an issue, please open a ticket in the `support` section of our [community boards](https://community.codecov.io).

[2020-10-09 19:47] #196 closed

[2020-10-09 19:49] thomasrockhu commented on #209
This was fixed in `2.1.6` (https://github.com/codecov/codecov-python/pull/275)

[2020-10-09 19:49] #209 closed

[2020-10-09 19:53] #203 closed

[2020-10-09 19:55] thomasrockhu commented on #95
Solved via https://github.com/codecov/codecov-python/blob/76b4f7cbb5602332eac3bcae027b9fa24efbf4ac/codecov/__version__.py#L5

[2020-10-09 19:55] #95 closed

[2020-10-13 00:26] kernc commented on #136
It works following the **workaround** prescribed in https://community.codecov.io/t/init-py-suddenly-being-ignored-in-reports/1855, adding [path fixing](https://docs.codecov.io/docs/fixing-paths):
[code]
with `<source>` being whatever `[run] source` in _.coveragerc_ (`coverage --source`) points to.

In discord with the [reference for `fixes`](https://docs.codecov.io/docs/codecovyml-reference#fixes)

[2020-10-16 17:17] thomasrockhu commented on #245
Hi @fepegar, can you open a ticket in the `support` section of our [community boards](https://community.codecov.io)?

[2020-10-16 17:17] #245 closed

[2020-10-16 17:17] #244 closed

[2020-10-16 17:27] thomasrockhu commented on #228
@Paebbels, I'm not quite sure why this is an issue as the license is `Apache 2.0`. Is this still a problem?

[2020-10-16 17:28] #228 closed

[2020-10-16 17:29] thomasrockhu commented on #227
Hi @rmjarvis, this looks to be resolved. Let me know if I'm wrong here.

[2020-10-16 17:29] #227 closed

[2020-10-16 17:43] thomasrockhu commented on #230
@pcorpet is this causing issues with the coverage shown by Codecov? It shouldn't be a problem, as we will just not parse it if it's not a valid coverage format.

[2020-10-16 17:44] thomasrockhu commented on #225
This is resolved.

[2020-10-16 17:44] #225 closed

[2020-10-16 17:47] thomasrockhu commented on #211
@evandrocoan this is because the yaml is no longer valid. You can re-validate, but I think to fix this situation, just change `target` to

```target: false```

[2020-10-16 17:47] #211 closed

[2020-10-16 17:48] thomasrockhu commented on #207
@chfw going to close this as it's been over a year, and I see coverage on the latest commits. Let me know if this is wrong.

[2020-10-16 17:48] #207 closed

[2020-10-16 18:20] rmjarvis commented on #227
Yes.  Thanks, I haven't seen it in quite a while now.

[2020-10-16 20:39] pcorpet commented on #230
Sorry this is old, I don't remember what was the issue. I ended up specfiying the file manually.

However it seems weird that you maintain such a long regexp for ignored_report if it' not an issue.

[2020-10-17 10:15] Paebbels commented on #228
Because you fixed it meanwhile. The issue was now 8 months old ...

[2020-11-01 11:32] skirpichev opened #302 "codecov --tries ignores --required argument"
E.g. [in this wokflow](https://github.com/diofant/diofant/blob/36869f73f17ccb848cd6ce7290a4546a60293572/.github/workflows/test.yml) I got:
[code]
It seems, that the upload was unsuccessful, but the exit status is 0.

[2020-11-01 11:35] skirpichev commented on #302
BTW, on [the project page](https://codecov.io/gh/diofant/diofant/) I got 502 error in same time.

[2020-11-03 07:14] iamtodor opened #303 "Codecov order by coverage percentage"
Hello,

I configured CI as `python -m pytest -v --cov-report term --cov=./src` and `codecov` after success.

I would like to get the final coverage order by (sorted by) Cover column in descending order (from 100% at the top and 0% at the bottom). However, I can not find such options. Is it possible? I've taken a look at `codecov --help`, but also didn't help.

Is there any option to achieve the de

[2020-11-03 23:51] thomasrockhu commented on #303
@iamtodor I answered this [here](https://stackoverflow.com/questions/64657327/codecov-order-by-coverage-percentage), but let me know if that doesn't solve the issue.

[2020-11-03 23:51] #303 closed

[2020-11-04 05:24] iamtodor commented on #303
Thank you for the hint, @thomasrockhu
I just thought I can sort it in a console, not on a site. Is it possible?

[code]

[2020-11-04 17:11] thomasrockhu commented on #303
@iamtodor, because Codecov processes multiple possible reports from multiple possible CIs, we do this all server-side. Currently, there is no CLI or API call to do this, but I'll let the product team know the feedback!

[2020-11-04 18:35] iamtodor commented on #303
@thomasrockhu okay, thank you for clarification 👍
hope you could discuss my question/suggestion with the product owner and the ordering opportunity will be delivered :)

[2020-11-05 15:23] thomasrockhu commented on #302
@skirpichev, are you still seeing this issue? We were experiencing an [issue](https://status.codecov.io/incidents/36hpc8mjhqql) in that time window.

[2020-11-05 15:36] skirpichev commented on #302
No.

I saw this.  In fact, it seems this was reported by [this](https://community.codecov.io/t/502-error-while-accessing-the-project-page-with-and-without-login/2244).

[2020-11-05 16:07] thomasrockhu commented on #283
Hi @syncrostone, this is a great feature request. Do you mind opening something in the `feature-request` section of our [community boards](https://community.codecov.io)?

[2020-11-05 16:07] #283 closed

[2020-11-05 16:08] thomasrockhu commented on #282
Hi @oktonion, if this is still an issue, can you open a ticket in our [community boards](https://community.codecov.io)?

[2020-11-05 16:08] #282 closed

[2020-11-05 16:27] #302 closed

[2020-11-06 11:00] syncrostone commented on #283
I've opened a [request on the community board](https://community.codecov.io/t/release-specific-codecov-badge/2273).

[2020-11-09 05:06] thomasrockhu commented on #100
Closing this out as tests should be passing now.

[2020-11-09 05:06] #100 closed

[2020-11-09 05:12] thomasrockhu commented on #129
@johlju if this is still an issue, please feel free to open a ticket in our [community boards](https://community.codecov.io).

[2020-11-09 05:12] #129 closed

[2020-11-09 05:15] thomasrockhu commented on #154
Thanks @liadmagen, this has since been removed.

[2020-11-09 05:15] #154 closed

[2020-11-24 10:10] yzgyyang commented on #100
This is not true - OP was talking about that, by simply removing the .git directory, tests will begin to fail (I got "12 failed, 38 passed, 20 skipped in 3.19s"). This happens if one downloads a release (which doesn't include .git) and try to run the test suite.

[2020-11-24 11:13] yzgyyang opened #304 "Make test suite independent of .git directory"
By simply removing the .git directory, tests will begin to fail (I got "12 failed, 38 passed, 20 skipped in 3.19s"). It seems like the suite is dependent on the .git directory of the source.

[code]

Use Case: This happens if one downloads a release tarball (which doesn't include .git) and try to run the test suite. The situation happens when we try to include `codecov` in the FreeBSD Ports Collec

[2020-11-26 21:29] thomasrockhu commented on #304
@yzgyyang thanks for this. Do you happen to be running this in a public repository, and if so, can you link to a CI build?

[2020-11-27 03:06] yzgyyang commented on #304
I don't have the CI build results on hand, but essentially by the following steps:

- Download and unzip https://github.com/codecov/codecov-python/archive/v2.1.10.zip
- Install test dependencies and run `pytest tests/test.py`
(Since releases don't ship with the .git directory)

Or:
- Clone the repo
- Remove .git directory
- Install test dependencies and run `pytest tests/test.py`

Since I am tryin

[2020-11-29 19:16] #230 closed

[2020-11-29 19:33] thomasrockhu commented on #212
I'm going to close this out due to age, but if you are still experiencing issues, please open a ticket in our [community boards](https://community.codecov.io)

[2020-11-29 19:33] #212 closed

[2020-11-29 19:38] #186 closed

[2020-11-29 19:40] thomasrockhu commented on #170
I'm going to close this out due to age, but if you are still experiencing issues, please open a ticket in our [community boards](https://community.codecov.io)

[2020-11-29 19:40] #170 closed

[2020-11-29 19:44] thomasrockhu commented on #166
Hi @szha, unfortunately, there isn't a way to do this, and the team is unlikely to support this in the near future. I will, however, let the product team know about this.

[2020-11-29 19:44] #166 closed

[2020-11-29 19:45] thomasrockhu commented on #163
This has been deprecated since to our [community boards](https://community.codecov.io)

[2020-11-29 19:45] #163 closed

[2020-11-29 19:46] thomasrockhu commented on #162
This has been deprecated, but I appreciate the issue here!

[2020-11-29 19:46] #162 closed

[2020-11-29 19:46] thomasrockhu commented on #160
I'm going to close this out due to age, but if this is still a need, please open an issue on our [community boards](https://community.codecov.io)

[2020-11-29 19:46] #160 closed

[2020-11-29 19:48] #156 closed

[2020-11-29 19:52] thomasrockhu commented on #139
This has been merged.

[2020-11-29 19:52] #139 closed

[2020-11-29 19:52] thomasrockhu commented on #138
I'm going to close this out due to age, but if this is still a need, please open an issue on our [community boards](https://community.codecov.io)

[2020-11-29 19:52] #138 closed

[2020-11-29 19:52] thomasrockhu commented on #125
I'm going to close this out due to age, but if this is still a need, please open an issue on our [community boards](https://community.codecov.io)

[2020-11-29 19:52] #125 closed

[2020-11-29 19:53] thomasrockhu commented on #123
I'm going to close this out due to age, but if this is still a need, please open an issue on our [community boards](https://community.codecov.io)

[2020-11-29 19:53] #123 closed

[2020-11-29 19:53] #120 closed

[2020-11-29 19:54] thomasrockhu commented on #113
I'm going to close this out due to age, but if this is still a need, please open an issue on our [community boards](https://community.codecov.io)

[2020-11-29 19:54] #113 closed

[2020-11-29 19:57] thomasrockhu commented on #80
I'm going to close this out due to age, but if this is still a need, please open an issue on our [community boards](https://community.codecov.io)

[2020-11-29 19:57] #80 closed

[2020-11-29 19:57] thomasrockhu commented on #59
I'm going to close this out due to age, but if this is still a need, please open an issue on our [community boards](https://community.codecov.io)

[2020-11-29 19:57] #59 closed

[2020-11-30 05:36] cheako commented on #113
Don't know why u'd think this being old means...  What does that mean?

https://packages.debian.org/buster/amd64/python-coverage/filelist

Yes, very much still installed under another name.

[2020-12-02 06:15] nmoinvaz commented on #158
I believe this issue is resolved now. It does delay between retries and also displays each time it retries.

[2020-12-02 06:15] nmoinvaz commented on #161
This should be resolved now.

[2020-12-02 06:16] nmoinvaz commented on #167
This should also be resolved now as codecov-python now uses python to find the files instead of the `find` command.

[2020-12-02 06:19] nmoinvaz commented on #226
The colors work properly in PowerShell command prompt.

[2020-12-02 09:49] jannisborn opened #306 "Coverage upload report 400 error"
**Summary**: While using codecov inside Docker, Coverage report is successfully created and found, but not uploaded to codecov.io. Error trace differs from everything I could find online. The log shows the HTML code for the entire report and closes with a `400` without any further explanation. Job exists with 0, pretending everything was alright.

**Setup**:
`Dockerfile:`
[code]

`.travis.yml`:
[c

[2020-12-02 17:52] jannisborn commented on #306
Ok, I found my bug, closing the issue here. The CI environment variables were not set properly.
The `.travis.yml` should be configured like this:

[code]

I suggest to expand the documentation [here](https://docs.codecov.io/docs/testing-with-docker), I didn't find this very clear, especially since other setups seem to work too, judging from other examples that one finds by googling (e.g. [here](ht

[2020-12-02 17:52] #306 closed

[2020-12-03 23:37] udim opened #307 "Error reporting missing details"
Hi, I believe our Jenkins environment is somehow broken, but it's hard to tell which file is not found and there's no way to enable stacktraces either (how do you pass `debug` to main()?).

From our CI logs:
[code]

Full log: https://ci-beam.apache.org/job/beam_PreCommit_Python_Commit/16554/consoleFull

I believe the issue is with this line:
https://github.com/codecov/codecov-python/blob/713d94113

[2020-12-04 23:07] udim commented on #307
Adding `mercurial` to the virtualenv seems to resolve the failure.

[code]

[2020-12-12 22:29] #307 closed

[2020-12-14 14:07] exarkun opened #309 "Coverage reports are uploaded for the wrong GitHub project"
This is a problem I've observed on coverage reports for PRs for https://github.com/tahoe-lafs/tahoe-lafs.  A PR which demonstrates this problem can currently be found at https://github.com/tahoe-lafs/tahoe-lafs/pull/926.

The symptom of this problem is that codecov believes some amount of coverage is missing.  The reality is that the missing coverage is in reports that have been uploaded and assoc

[2020-12-21 19:15] thomasrockhu commented on #309
@exarkun, can you open a ticket on our [community boards](https://community.codecov.io) for this?

[2020-12-21 19:15] #309 closed

[2020-12-21 19:19] exarkun commented on #309
I don't see a compelling reason to do that.

[2021-01-27 12:26] oittaa opened #313 "Could you add GCP Cloud Build?"
I saw that you've added Azure Pipelines some time ago. Could you also add Google's Cloud Build?

Cheers!

[2021-02-12 04:22] Quantum1921 commented on #313
@

- [ ]

1.

-

[2021-03-02 07:35] florian-hoenicke commented on #107
Any news on this?

[2021-03-09 14:05] ma-sadeghi opened #315 "Numba-jitted methods are not covered by codecov"

[2021-03-09 14:34] smarie commented on #107
Any progress on this issue ? I have the same problem: both `.coveragerc` `[report]` section and `setup.cfg` `[coverage:report]` configurations are ignored by `codecov`.

@interDist :

This option is not present in the codecov.yml reference : https://docs.codecov.io/docs/codecovyml-reference#coverage

@erwanp : from your project sources and coverage reports it seems that this is not actually workin

[2021-03-09 14:45] smarie commented on #107
My bad: it seems to work now. The secret seems to PUSH the .coveragerc file as it is not taken into account locally (the .coverage file and generated coverage.xml report do not contain anything about ignored lines, this is a post processing thing)

[2021-03-13 13:01] ma-sadeghi commented on #315
For sure. For future reference: https://community.codecov.io/t/numba-jitted-methods-are-not-captured-by-codecov/2649/2

[2021-04-05 21:28] thomasrockhu commented on #113
@cheako I think this is the [coverage.py](https://coverage.readthedocs.io/en/coverage-5.5/) package, not Codecov from the link you sent

[2021-04-05 22:37] cheako commented on #113
There is no debian package that installs an application called `coverage`.  So calling an application by that name is incorrect, in the case where the application is installed by debian package.

I've tested the origin post's code, above, and it is correct.

[2021-04-15 16:24] dinvlad opened #316 "Bash Uploader security concern"
Hi Team,

Could you confirm that this library is unaffected by the recently disclosed https://about.codecov.io/security-update/ ?

Thanks

[2021-04-15 17:24] thomasrockhu commented on #316
Hi @dinvlad, Tom from Codecov here. Confirming that this library was *not affected* by the recent security issue.

[2021-04-15 17:24] #316 closed

[2021-04-15 18:20] tmpapageorgiou opened #317 "Codecov security incident"
Was codecov-python version impacted in any way by this: https://about.codecov.io/security-update/

[2021-04-15 18:26] thomasrockhu commented on #317
Hi @tmpapageorgiou, from [previous issue](https://github.com/codecov/codecov-python/issues/316#issuecomment-820601856)

I'll leave this one open for the time being.

[2021-04-15 19:10] williamcroberts opened #318 "tool does not respect fixes"
As far as I can tell the tool does not respect the fixes in the codecov.yml file. Theirs no reference to the fixes key in the YAML file in the code, and seems to not be doing anything locally. I walked through it with a debugger and don't see any spot where it does that.

[2021-04-15 19:20] thomasrockhu commented on #318
@williamcroberts can you open a ticket in our [community boards](https://community.codecov.io), so I can dig into what might be happening?

[2021-04-15 19:20] #318 closed

[2021-04-15 20:01] williamcroberts commented on #318
Done:
  - https://community.codecov.io/t/codecov-python-does-not-respect-fixes-in-codecov-yml-file/2768

I dunno what moving it over there does, likely just moved it into a black hole.

[2021-04-15 22:03] hootener commented on #316
A question came across our support emails that asked this question:

and linked to this issue.

I feel that in the interest of transparency, it's worth answering that question here so that it can be consumed by the wider community. If you read this, and have questions about _your specific use of Codecov_ , I would still urge you to send those questions to security@codecov.io.

For the python uploa

[2021-04-16 21:02] thomasrockhu commented on #318
@williamcroberts yikes, I'm that black hole.  I updated on the ticket, but could you provide a commit SHA or this happening?

[2021-04-19 14:28] williamcroberts commented on #318
I ran all the tools locally, so I could debug them. Can you point to a test in the bash-uploader or python scripts where the"path-fix"  feature is tested? I can't find any reference to it.

[2021-04-19 14:36] williamcroberts commented on #318
I'm using the master tip of codecov python and bash tools.  Various uploads to the tpm2-pytss project failed, so I replicated everythign locally to debug, which is when I discovered the paths not lining up and trying to do a path fix.  If you just look at the python tool:
  - https://github.com/codecov/codecov-python/blob/master/codecov/__init__.py

You should see a regex grabbing the fixes field

[2021-04-19 14:37] thomasrockhu commented on #318
@williamcroberts `path fixing` is handled server-side. I asked for a commit SHA so I could see what was happening for your particular case.

[2021-04-19 14:46] williamcroberts commented on #318
That explains that. I unfortunately force-pushed. But I can get a branch and revert the change and redo it so we can get some debugging. Is their anyway to introspect what the server is doing?

[2021-04-19 15:09] williamcroberts commented on #318
@thomasrockhu I created a branch with the older method that was failing, ill post back with details when it's done:
  - https://github.com/tpm2-software/tpm2-pytss/actions/runs/764010764

[2021-04-19 15:12] thomasrockhu commented on #318
Unfortunately not in a public way. I'll make a note to the product team to make this process easier and more self-servicing for users, though.

[2021-04-19 15:54] williamcroberts commented on #318
@thomasrockhu thanks again for spending cycles looking at this:

Here is the CI side upload, I added a --dump before the upload so we could see the data:
 - https://github.com/tpm2-software/tpm2-pytss/runs/2382176442?check_suite_focus=true#step:6:615

Upload link to codecov shows "There was an error processing coverage reports":
  - https://codecov.io/github/tpm2-software/tpm2-pytss/commit/1c0f164

[2021-04-20 02:30] thomasrockhu commented on #318
@williamcroberts I see that the coverage file uploaded to Codecov is [empty](https://github.com/tpm2-software/tpm2-pytss/runs/2382176442?check_suite_focus=true#step:6:686) which is why you probably got that error.

[2021-04-20 13:58] williamcroberts commented on #318
Do you know why, or what to poke at, when it is empty? I don't understand why coverage is reporting above and the .coverage sqlite3 db had coverage data.

[2021-05-06 11:55] #317 closed

[2021-05-31 21:31] LebedevRI opened #321 "[FR] Support for `-s` from codecov/codecov-bash"
Continuing disscussion from https://github.com/codecov/codecov-action/issues/324, CC @thomasrockhu.

As i'm seeing in e.g. https://github.com/darktable-org/rawspeed/runs/2705949853?check_suite_focus=true,
the bash uploader scales poorly with large number of files, *especially* on windows.

Now, i don't *know* whether or not python uploader is even generic enough to replace the bash uploader,
or ho

[2021-07-21 21:05] #161 closed

[2021-08-28 20:52] mcepl opened #324 "Please package testsuite to the distribution tarball"
I would like to fix packaging for OpenSUSE, but your release tarball does not contain the tests directory. Could you please distribute them as well?

[2021-09-04 09:51] LebedevRI commented on #321
[codecov/codecov-action](https://github.com/marketplace/actions/codecov)'s `directory` works fine.
Also, that cut the upload time from 18 minutes to 15 seconds for me:
https://github.com/darktable-org/rawspeed/runs/3498541133#step:5:1 => https://github.com/darktable-org/rawspeed/runs/3512694389#step:5:1

[2021-09-04 09:51] #321 closed

[2021-11-19 16:40] s1mrankaur commented on #180
@thomasrockhu  Same issue. Team bot is my username in bitbucket but no pull request comments are being generated. We also cannot find any pull requests in the pull requests tab

[2021-12-29 22:54] kloczek opened #333 "2.1.12: pytest is failing in three units"
I'm trying to package your module as an rpm package. So I'm using the typical PEP517 based build, install and test cycle used on building packages from non-root account.
- `python3 -sBm build -w`
- install .whl file in </install/prefix>
- run pytest with PYTHONPATH pointing to sitearch and sitelib inside </install/prefix>

As source tar ball I'm using tagged github autogenerated tar ball (should I

[2022-04-02 12:27] kloczek commented on #333
ping ..

[2022-04-02 20:04] thomasrockhu commented on #333
Hi @kloczek, this uploader is being deprecated as marked in the [README](https://github.com/codecov/codecov-python/blob/master/README.md). Please use the new uploader [here](https://github.com/codecov/uploader).

[2022-04-02 20:04] #333 closed

[2022-04-02 23:12] kloczek commented on #333
What you mean "uploader"?

[2022-04-02 23:15] kloczek commented on #333
For example `gcovr` test suite needs `codecov`  and I don't see that https://github.com/codecov/uploader  provides module with such name.

[2022-05-04 20:32] thomasrockhu-codecov commented on #333
@kloczek I'm sorry, I read the initial ask wrong. I believe you mean that the actual tests on this repository are failing.

Unfortunately, we have deprecated this repository and are not actively working on it. You are welcome to open a pull request, and I'd be happy to merge it in with a deploy.

[2022-10-11 16:53] amotl commented on #198
Hi.

I've upvoted the issue because we may have been running into the same thing at https://github.com/caronc/apprise/pull/690. Thank you in advance for looking into it.

With kind regards,
Andreas.

[2022-10-18 09:35] Nm980mn opened #344 "Oha"
Oha

_Originally posted by @ghost in https://github.com/codecov/Codecov-user-feedback/issues/1#issuecomment-898425160_

[2022-10-18 15:59] thomasrockhu commented on #198
@amotl as this package is getting deprecated, I would recommend moving to the [Codecov Action](https://github.com/codecov/codecov-action)

[2022-10-18 15:59] #198 closed

[2022-10-30 03:02] mpurnell1 commented on #144
I'm not sure if this applies to your use case (and also I'm 4 years late), but codecov supports a section in their yaml file (codecov.yml in root directory) called `ignore` whcih accepts regex expressions to exclude. Mine looks similar to below to ignore django files

[code]

[2022-11-26 00:13] ssbarnea commented on #152
I do have the impression that now codecov is failing to load the same settings from `pyproject.toml`.

[2022-11-26 00:17] ssbarnea commented on #144
I think that the situation it getting worse since almost everyone is moving to pyproject.toml including coveragepy.

I observed that codecov does not load the excludes from the valid codeveragepy config. [ansible/ansible-lint@main/pyproject.toml#L13-L24](https://github.com/ansible/ansible-lint/blob/main/pyproject.toml?rgh-link-date=2022-11-26T00%3A13%3A26Z#L13-L24)

[2022-11-26 00:23] ssbarnea commented on #107
I guess that nobody looked at it and now we already migrated the config to `pyproject.toml`, which is likely fully ignored by codecov.

[2022-11-26 20:16] ssbarnea commented on #244
I am afraid that if you use pyproject.toml, this feature is not working. See https://github.com/codecov/codecov-python/issues/107#issuecomment-1327939466